<template>
    <div>
        <div class="row">
            <el-autocomplete
                v-model="state"
                :fetch-suggestions="querySearchAsync"
                placeholder="Căutare printre toate produsele"
                @select="handleSelect"
                value-key="name"
                :debounce="700"
                autocomplete="on"
                popperClass="el-autocomplete-suggestion--search-results"
                :popperOptions="optPop"
                class="col-md-9 el-autocomplete--search-bar-nav"
            >
                <i slot="prefix" class="el-input__icon el-icon-search"></i>
                <template slot-scope="{ item }">
                    <div class="search_dropdown">
                        <div class="products_table">
                            <div @click="goToUrl(item)"
                                 class="products_row d-flex justify-content-between align-items-center cursor-pointer">
                                <div class="product d-flex flex-row align-items-center">
                                    <h4 class="cursor-pointer">
                                        {{ item.name }}
                                        <span class="active">
                                            Producator:{{ item.sku }} -
                                            Local:{{item.locale_sku }}</span>
                                        {{ item.category.lang.name }}
                                    </h4>
                                </div>
                                <div class="price">
                                    <span>{{ item.price }} lei</span>
                                </div>
                            </div>
                        </div>
                        <!--                            <a href="#" v-if="count > products.length" class="btn_main btn__square">AFIȘEAZĂ TOATE <span-->
                        <!--                                class="total">{{ count }}</span>-->
                        <!--                                PRODUSE</a>-->
                    </div>
                </template>

            </el-autocomplete>
            <div class="col-md-3">
                <el-button @click="store()">Save</el-button>
                <el-button @click="getCombined()"><i class="el-icon-refresh"></i></el-button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <el-table
                    :data="tableData"
                    style="width: 100%">
                    <el-table-column
                        prop="sku"
                        label="Prod Sku"
                        width="180">
                    </el-table-column>
                    <el-table-column
                        prop="locale_sku"
                        label="Sku"
                        width="180">
                    </el-table-column>
                    <el-table-column
                        prop="name"
                        label="Name">
                    </el-table-column>
                    <el-table-column
                        prop="price"
                        label="Price">
                    </el-table-column>
                    <el-table-column
                        prop="color.lang.name"
                        label="Color">
                    </el-table-column>
                    <el-table-column
                        fixed="right"
                        label="Operations"
                        width="120">
                        <template slot-scope="scope">
                            <el-button @click="deleteItem(scope.$index, tableData)" type="text" size="small">Delete
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "CombineProducts",
    props: {
        product_id: {
            type: Number,
            default: null,
        }
    },

    data() {
        return {
            tableData: [],

            state: '',
            combine_product_id: '',
            result: [],
            timeout: null,
            category: 0,
            optPop: {
                visibleArrow: false
            },
        }
    },

    methods: {
        deleteItem(index, rows) {
            let item = rows[index];
            axios.delete('/axios/combine/destroy/' + item.id).then(response => {
                if (response.status === 200) {
                    this.$notify({
                        title: 'Atentie',
                        message: 'Sters cu succes',
                        type: 'warning',
                        position: 'bottom-right'
                    });
                    this.getCombined();
                }
            }).catch(error => {
                if (typeof error.response !== 'undefined') {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        handleSelect(item) {
            console.log(item);
        },
        goToUrl(product) {
            this.combine_product_id = product.id;
        },

        querySearchAsync(queryString, cb) {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': 'ro',
                'X-course': 'mdl',
            };
            if (queryString.length >= 3) {
                $.getJSON("/axios/get-global-search/" + queryString, {
                        headers: headers
                    },
                    function (result) {
                        if (result.result.length > 0) {
                            cb(result.result);
                        } else {
                            cb(result.result);
                            this.$notify({
                                title: 'Atentie',
                                message: 'Nu sau gasit rezultate dupa cuvintele introduse',
                                type: 'warning',
                                position: 'bottom-right'
                            });
                        }


                    }.bind(this))
            } else {
                cb([]);
            }
        },

        getCombined() {
            axios.get('/axios/combine/get/' + this.product_id).then(response => {
                if (response.status === 200) {
                    this.tableData = response.data.data;
                }
            }).catch(error => {
                if (typeof error.response !== 'undefined') {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        store() {
            let form = {
                product_id: this.product_id,
                combine_product_id: this.combine_product_id,
            }

            axios.post('/axios/combine/store/', form).then(response => {
                if (response.status === 200) {
                    this.getCombined();
                    this.state = '';
                    this.combine_product_id = '';
                }
            }).catch(error => {
                if (typeof error.response !== 'undefined') {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                }

                if (error.response.status === 500) {
                    this.$notify({
                        title: 'Atentie',
                        message: 'Deja a fost atribuit',
                        type: 'warning',
                        position: 'bottom-right'
                    });
                }
            });
        }
    }
}
</script>

<style lang="scss" scoped>
.search_bar {
    .el-autocomplete--search-bar-nav {
        width: 100%;

        .el-input__icon {
            font-size: 15px;
            font-weight: 900;
            color: #22262A;
        }

        .el-input__inner {
            border-radius: 0 !important;
        }

    }
}
</style>
