<template>
    <div>
        <div class="row">
            <div class="col-xl-8 order-xl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Information</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="accordion" id="accordionExample">

                            <div class="card" v-for="(lang, index) in langs" :key="index">
                                <div class="card-header" :id="'heading'+index">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link btn-block text-left" type="button"
                                                data-toggle="collapse" :data-target="'#collapse'+index"
                                                aria-expanded="true" :aria-controls="'collapse'+index">
                                            Text spre completare - [{{ lang.name }}]
                                        </button>
                                    </h2>
                                </div>
                                <div :id="'collapse'+index"
                                     class="collapse"
                                     :class="index === lang ? 'show' : ''"
                                     :aria-labelledby="'heading'+index"
                                     data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="pl-lg-4">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username1">Name
                                                            [{{ index }}]</label>
                                                        <el-input id="input-username1" placeholder="Name"
                                                                  v-model="form.product_name[`${index}`]"></el-input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="form-group">
                                                        <label class="form-control-label" for="input-username2">Antent [{{ index }}]</label>
                                                        <el-input id="input-username2" placeholder="Antent" v-model="form.antent[`${index}`]"></el-input>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Descriere [{{ index }}]</h6>
                                                    <vue-editor v-model="form.description[`${index}`]"></vue-editor>
                                                </div>
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Livrare [{{ index }}]</h6>
                                                    <vue-editor v-model="form.delivery[`${index}`]"></vue-editor>
                                                </div>
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Montare [{{ index }}]</h6>
                                                    <vue-editor v-model="form.mounting[`${index}`]"></vue-editor>
                                                </div>
                                                <div class="col-lg-12">
                                                    <h6 class="heading-small text-muted mb-4">Returnare [{{ index }}]</h6>
                                                    <vue-editor v-model="form.returning[`${index}`]"></vue-editor>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 order-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Specification</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row group-shad mb-4 p-3" v-for="(sp, index) in form.sp" :key="index">
                                    <div class="col-lg-12">
                                        <div class="row btn_absolute" v-if="index > 0">
                                            <div class="col-lg-12">
                                                <button class="btn btn-success btn-xs w-100" @click="copySpec(index)">Copy
                                                    Attributes
                                                </button>
                                            </div>
                                        </div>
                                        <admin-product-spec-item class="row"
                                                                 v-for="(attribute, i) in sp.specs"
                                                                 :key="'product_spec_'+i"
                                                                 :attribute="attribute"
                                                                 :i="i"
                                                                 :sp="sp"
                                                                 :spec="spec"
                                                                 :index="index"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 order-xl-12">
                <div class="mb-4 card">
                    <div class="card-header">
                        <div class="row align-items-center">
                            <div class="col-8">
                                <h3 class="mb-0">Specification</h3>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username12">Tip oferta</label>
                                    <div class="checkbox_group">
                                        <el-checkbox v-model="form.offer_type_id.promotie" label="Produse la promotie"
                                                     border size="medium"></el-checkbox>
                                        <el-checkbox v-model="form.offer_type_id.populare" label="Produse populare"
                                                     border size="medium"></el-checkbox>
                                        <el-checkbox v-model="form.offer_type_id.noi" label="Produse noi" border
                                                     size="medium"></el-checkbox>
                                        <el-checkbox v-model="form.offer_type_id.credit_zero" label="Credit zero" border
                                                     size="medium"></el-checkbox>
                                        <el-checkbox v-model="form.offer_type_id.no_stock" label="Nu este in stock"
                                                     border
                                                     size="medium"></el-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" :style="'display: grid'">
                                    <label :for="'exampleFormControlSelect22'">Furnizori</label>
                                    <el-select filterable :id="'exampleFormControlSelect22'"
                                               v-model="form.furnizor_id"
                                               placeholder="Furnizor">
                                        <el-option
                                            v-for="(fur, ii) in furnizor"
                                            :key="ii"
                                            :label="fur.name"
                                            :value="fur.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" :style="'display: grid'">
                                    <label for="exampleFormControlSelect10">Category</label>
                                    <el-select filterable @change="form.category_id = ''"
                                               id="exampleFormControlSelect10"
                                               v-model="form.category"
                                               placeholder="Select">
                                        <el-option
                                            v-for="(category, i) in categories"
                                            :key="i"
                                            :label="category.lang.name"
                                            :value="category.childs">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-lg-12" v-if="form.category.length > 0">
                                <div class="form-group" :style="'display: grid'">
                                    <label for="exampleFormControlSelect10">Subacategory</label>
                                    <el-select filterable id="exampleFormControlSelect10" v-model="form.category_id"
                                               placeholder="Select" @change="getAttributes()">
                                        <el-option
                                            v-for="(category, i) in form.category"
                                            :key="i"
                                            :label="category.lang.name"
                                            :value="category.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Pret vinzare /
                                        reducere</label>
                                    <el-input placeholder="Price" v-model="form.price"></el-input>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Pret
                                        cumparare</label>
                                    <el-input placeholder="Price" v-model="form.price_buing"></el-input>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Pret vechi</label>
                                    <el-input placeholder="Pret vechi" v-model="form.price_discount"></el-input>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Products sku</label>
                                    <el-input placeholder="SKU" v-model="form.sku"></el-input>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group" :style="'display: grid'">
                                    <label :for="'exampleFormControlSelect2'">Color</label>
                                    <el-select filterable :id="'exampleFormControlSelect2'"
                                               v-model="form.color_id"
                                               placeholder="Color">
                                        <el-option
                                            v-for="(color, i) in colors"
                                            :key="i"
                                            :label="color.lang.name"
                                            :value="color.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="form-control-label" for="input-image">Imagine</label>
                                <div class="form-group el-input el-input-group">
                                    <input id="input-image" type="file" name="fileFF"
                                           v-on:change="uploadImage($event, index)">
                                    <img class="preload-img" :src="form.image" alt="">
                                    <!--                                    <img class="puls" src="/img/upload.svg" alt="">-->
                                </div>
                            </div>
                        </div>
                        <hr class="my-4"/>
                        <button @click="submitProduct" type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
                <el-alert
                    class="mb-1"
                    v-for="(err, index) in errors"
                    :key="index"
                    :title="index +' required!'"
                    type="error">
                </el-alert>
            </div>
        </div>
    </div>
</template>

<script>
import {VueEditor} from "vue2-editor";

export default {
    name: "Products",
    props: ['langs', 'lang', 'action', 'categories', 'specifications', 'lastproductid', 'offertypes', 'furnizor',
        'labels', 'colors'],
    components: {
        VueEditor
    },
    data() {
        return {
            errors: [],
            groupedSpecs: '',
            spec: [],
            form: {
                sp: [{
                    selectedAttribute: [],
                    specs: [{
                        specs: '',
                        sub_specs: '',
                        data_sub_specs: [],
                    }],
                }],

                product_name: {
                    ro: '',
                    ru: '',
                },

                antent: {
                    ro: '',
                    ru: '',
                },
                description: {
                    ro: '',
                    ru: ''
                },

                delivery: {
                    ro: '',
                    ru: ''
                },

                mounting: {
                    ro: '',
                    ru: ''
                },

                returning: {
                    ro: '',
                    ru: ''
                },

                furnizor_id: '',
                labels: [],
                category_id: '',
                category: [],
                offer_type_id: {
                    promotie: false,
                    populare: false,
                    noi: false,
                    credit_zero: false,
                    no_stock: false,
                },
                price: '',
                price_buing: '',
                price_discount: '',
                sku: '',
                color_id: '',
                image: '',
            }
        }
    },

    watch: {
        'form.sp': {
            handler() {
                // this.getGroupedSpecsName();
            },
            deep: true,
        },

        groupedSpecs: {
            handler() {
                this.generateDescription();
            }
        }

    },

    created() {
        this.generateDescription();
        this.form.sp[0].spec_sku = this.lastproductid
        this.getAttributes();
    },

    methods: {

        setCategories(e) {
            console.log(e);
        },

        addAtribute(index) {
            this.form.sp[index].specs.push({
                specs: '',
                sub_specs: '',
                data_sub_specs: [],
            })
        },

        spliceAtribute(index, i) {
            this.form.sp[index].specs.splice(i, 1);
            this.form.sp[index].selectedAttribute.splice(i, 1);
        },

        skuNumber() {
            return this.lastproductid + 1;
        },

        getGroupedSpecsName() {
            let form = {
                'form': this.form.sp,
            }
            axios.post('/admin/products/specsGrouped', form).then(response => {
                if (response.status === 200) {
                    this.groupedSpecs = response.data.specs;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        uploadImage(e, selectedIndex) {
            let files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            this.createImage(files[0], selectedIndex);
        },

        createImage(file, index) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                // vm.image_preview = e.target.result;
                vm.form.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },

        setSpec(index, i) {
            // axios.post('http://' + window.location.hostname + '/admin/products/specs', this.form.sp[index].specs[i]).then(response => {
            axios.post('/axios/products/specs', this.form.sp[index].specs[i]).then(response => {
                if (response.status === 200) {
                    this.form.sp[index].specs[i].data_sub_specs = response.data.specs;
                    this.form.sp[index].selectedAttribute.splice(i, 1, this.form.sp[index].specs[i].specs);
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        pushSpec() {
            this.form.sp.push({
                spec_sku: '',
                selectedAttribute: [],
                specs: [{
                    specs: '',
                    sub_specs: '',
                    data_sub_specs: [],
                }],
                // specs: this.form.sp[0].specs,
                image: '',
                price: '',
                price_discount: '',
            })
        },

        copySpec(index, i) {
            let xxx = JSON.parse(JSON.stringify(this.form.sp[0].specs))
            // let xxx = this.form.sp[0].specs;
            // this.form.sp.splice(index, 1, xxx);
            // this.form.sp[index].selectedAttribute = this.form.sp[0].selectedAttribute;
            // this.form.sp[index].specs = [];
            this.form.sp[index].specs = [...xxx];

            // this.form.sp.push({
            //     specs: ...xxx,
            // });
        },

        delSpec(index) {
            this.form.sp.splice(index, 1);
        },

        generateDescription() {

            let text = '';
            text = '';
            this.form.description.ro = text
            return text;
        },

        submitProduct() {
            axios.post('/admin/products/store', this.form).then(response => {
                if (response.status === 200) {
                    this.$notify({
                        title: 'Success',
                        message: 'Product saved with success!',
                        type: 'success'
                    });
                    window.location.href = '/admin/products/show/' + response.data.prod_id;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        getAttributes() {
            let a = this.form.category.find(item => item.id === this.form.category_id);
            if (a === undefined) {
                this.spec = [];
            } else {
                this.spec = a.attrib;
            }

        }

    },

    computed: {
        setSpecName() {
            let name = '';

            return 'test'
        },
    }

}
</script>

<style lang="scss" scoped>

.btn_absolute {
    position: absolute;
    top: -38px;
    right: 0;
}

.preload-img {
    width: 100px;
    height: auto;
}

.checkbox_group {
    display: grid;

    .el-checkbox {
        margin-left: 0 !important;
        width: 100%;
    }
}

//.group-shad {
//    box-shadow: 0px 0px 5px 2px #a6a8b1ad;
//    border-radius: 4px;
//}
</style>
