<template>
    <div>
        <section class="card_products" v-if="products.length > 0">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12">
                        <table class="table products_table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{ translation('Produse', 'Продукты') }}</th>
                                <th>{{ translation('Pret', 'Цена') }}</th>
                                <th class="text-center">{{ translation('Cantitate', 'Количество') }}</th>
                                <th>{{ translation('Total', 'Общее') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <cart-item v-for="(cart, index) in carts" :key="index" :cart="cart"></cart-item>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <section class="apply_coupon pt-1" v-if="products.length > 0">
            <div class="container-xl">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="input-group">
                            <input disabled="disabled" type="text" class="form-control text-left" name="coupon"
                                   :placeholder="lang === 'ro' ? 'Aplică couponul' : 'Применить купон'">
                            <button type="submit" class="btn_main btn__light btn__square">{{ translation('Aplica', 'Применить') }}</button>
                        </div>
                    </div>
                    <div class="col-md-8 text-right text-rigth text-md-rigth mt-5 mt-md-0">
                        <div class="total">{{ translation('Total', 'Общее') }}: <span class="price secondary_font pl-2">{{ total }} {{ translation('lei', 'лей') }}</span></div>
                    </div>
                </div>
            </div>
            <div class="container mt-5" v-if="products.length > 0">
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="/delivery" class="btn_main">{{ translation('Pasul urmator', 'Следующий шаг') }}</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: "Cart",
    props: ['lang'],
    data() {
        return {
            carts: [],
            loader: false,
        }
    },

    created() {
        this.getCart();
    },

    methods: {
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },

        getCart(type) {
            this.loader = true
            if (type === 1) {
                this.carts = [];
            }

            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
            };

            axios.post('/axios/get-cart', this.products, {headers}).then(response => {
                if (response.status === 200) {
                    this.carts = response.data.model;
                    this.delivery_price = response.data.delivery_price;
                    this.loader = false;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },
    },

    computed: {
        products() {
            return this.$store.getters.cartProducts
        },

        total() {
            return this.$store.getters.cartTotal
        },
    }
}
</script>

<style scoped>

</style>
