<template>
    <section class="p-0">
        <el-drawer
            :visible.sync="drawer"
            direction="ltr"
            :size="size"
            :with-header="false">
            <div class="filters__catalog">
                <div class="close__btn" @click="drawer = false">
                    <i class="el-icon-close"></i>
                </div>
                <ul class="filter__section__me list-unstyled">
                    <li><button class="btn reset_filters" @click="resetFilters()">{{ lang === "ro" ? 'Reseteaza filtrele' : 'Сбросить фильтры' }}</button></li>
                    <li>
                        <label>{{ lang === "ro" ? 'Preț' : 'Цена' }}</label>
                        <el-slider
                            @change="get"
                            class="slider_price"
                            v-model="filters.price"
                            range
                            :max="maxprice">
                        </el-slider>
                        <div class="prices d-flex justify-content-between align-items-baseline">
                            <el-input-number :controls="false" :min="0" v-model="filters.price[0]"></el-input-number>
                            <i class="el-icon-minus"></i>
                            <el-input-number :controls="false" :min="0" v-model="filters.price[1]"></el-input-number>
                        </div>
                    </li>

                    <li class="select" v-for="(filter, i, iii) in scoped_filters">
                        <el-select class="text-camelcase"
                                   :placeholder="i"
                                   @change="getResults"
                                   multiple
                                   clearable
                                   collapse-tags
                                   v-model="filters.dinamic_filters[iii]">
                            <el-option

                                v-for="(item, ii) in filter"
                                :key="ii"
                                :label="item.lang.name"
                                :value="item.id">
                            </el-option>
                        </el-select>
                    </li>
                    <li>
                        <el-button class="filter_apply" @click="drawer = false">{{ lang === "ro" ? 'Aplica filtrele' : 'Применить фильтры' }}</el-button>
                    </li>
                </ul>
            </div>
        </el-drawer>
        <div class="magazin_header">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12"><h1 v-if="current_category">{{ current_category.lang.name }}</h1></div>
                </div>
                <div class="row" v-if="current_category != null">
                    <div class="breadcrumbs d-none d-md-block" v-if="current_category">
                        <ul>
                            <li>
                                <a href="/">{{lang === "ro" ? 'Principala' : 'Главная'}}</a>
                            </li>
                            <li v-if="current_category.parent !== null">
                                <a href="#">{{ current_category.parent.lang.name }}</a>
                            </li>
                            <li class="active">
                                <a :href="'/catalog?category_id='+current_category.id">
                                    {{ current_category.lang.name }}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="breadcrumbs d-block d-md-none">
                        <ul>
                            <li class="active mb-2" v-if="current_category.parent !== null"><a
                                href="#">{{ current_category.parent.lang.name }}</a></li>
                            <li class="d-block"><a
                                :href="'/catalog?category_id='+current_category.id">{{ current_category.lang.name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter mb-5 mt-4">
            <div class="container-xl">
                <div class="row">
                    <div class="col-12 d-none">
                        <ul class="filter__section__me">
                            <li>
                                <label>{{ lang === "ro" ? 'Preț' : 'Цена' }}</label>
                                <el-slider
                                    @change="get"
                                    class="slider_price"
                                    v-model="filters.price"
                                    range
                                    :max="maxprice">
                                </el-slider>
                            </li>

                            <li class="select" v-for="(filter, i, iii) in scoped_filters">
                                <el-select class="text-camelcase"
                                           :placeholder="i"
                                           @change="getResults"
                                           multiple
                                           clearable
                                           collapse-tags
                                           v-model="filters.dinamic_filters[iii]">
                                    <el-option

                                        v-for="(item, ii) in filter"
                                        :key="ii"
                                        :label="item.lang.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row sort mt-3">
                    <div class="col-md-6 col-6">
                        <div class="result d-md-inline-block font-weight-bold d-none">{{ translation('AFIȘATE',
                            'ОТОБРАЖАТЬ') }}
                            <span class="secondary_font">{{ products.data.length }}</span>
                            {{ translation('PRODUSE DIN', 'ПРОДУКТЫ ИЗ') }}
                            <span class="secondary_font">{{ products.total }}</span>
                        </div>
                        <div class="select select-options d-inline-block font-weight-bold">
                            <select @change="getResults" v-model="filters.order_by" name="sort" id="sort"
                                    class="flat font-weight-bold">
                                <option :value="sort.value" v-for="(sort, i) in sorts">{{ language(sort) }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 col-6 d-flex justify-content-end align-items-center">
                        <!--                        <div class="filter__btn filter__btn-md" @click="showFilter(2)"><i class="el-icon-s-operation mr-1"></i>{{ translation('Filtre', 'Фильтры') }}</div>-->
                        <!--                        <div class="filter__btn filter__btn-xl" @click="showFilter(1)"><i class="el-icon-s-operation mr-1"></i>{{ translation('Filtre', 'Фильтры') }}</div>-->
                        <a href="#"
                           @click.prevent="showFilter(2)"
                           class="text-black font-weight-bold filter__btn filter__btn-md">
                            <i class="el-icon-s-operation mr-1"></i>
                            {{ translation('Filtre', 'Фильтры') }}
                        </a>
                        <a href="#"
                           @click.prevent="showFilter(1)"
                           class="text-black font-weight-bold filter__btn filter__btn-xl">
                            <i class="el-icon-s-operation mr-1"></i>
                            {{ translation('Filtre', 'Фильтры') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xl">
            <div class="row" v-if="products_upsells.length > 0">
                <upsells :upsells_prices="upsells_prices"
                         :products_upsells="products_upsells"
                         :lang="lang"/>
            </div>
            <div class="row no-gutters">
                <div v-for="(product, index) in products.data"
                     class="col-6 col-sm-6 col-md-3 col-lg-3 d-flex mb-3 mb-md-0">
                    <product-item :product="product" :lang="lang"></product-item>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <div class="pagination justify-content-center">
                        <pagination :data="products" :limit="1" @pagination-change-page="getResults">
                            <span slot="prev-nav">&lt;</span>
                            <span slot="next-nav">&gt;</span>
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
        <div class="loader" v-if="preloader">
            <img src="/images/icons/loader.gif" alt="">
        </div>
    </section>
</template>

<script>
export default {
    name: "Catalog",
    props: ['attributes', 'brands', 'categories', 'lang', 'props', 'current_category', 'upsells_prices',
        'products_upsells'],
    data() {
        return {
            products: {},
            maxprice: 0,
            preloader: false,
            drawer: false,
            size: '100%',
            scoped_filters: [],

            filters: {
                brands: [],
                category_id: '',
                discount: 0,
                page: 1,
                order_by: 'created_at',
                price: [0, 1],
                dinamic_filters: []
            },
            awaitingSearch: false,

            sorts: [
                {
                    'id': 4,
                    'value': 'created_at',
                    'name_ro': 'Adăugate recent',
                    'name_ru': 'Недавно добавленные'
                },
                {
                    'id': 1,
                    'value': 'asc',
                    'name_ro': 'Preț crescător',
                    'name_ru': 'Рост цены'
                },
                {
                    'id': 2,
                    'value': 'desc',
                    'name_ro': 'Preț decrescător',
                    'name_ru': 'Снижая цену'
                }
            ],
            errors: [],
        }
    },

    created() {
        this.setProps();
        this.getResults(this.props.page);
        // if (this.notEmptyObject(this.props)) {
        //     this.setProps();
        //     if (this.props.page != null){
        //         this.getResults(this.props.page);
        //     }
        //
        // }
    },

    methods: {
        showFilter(state) {
            if (state === 1) {
                this.size = '30%'
            }

            if (state === 2) {
                this.size = '100%'
            }

            this.drawer = !this.drawer;

        },

        setProps() {
            this.maxprice = this.props.maxprice;
            this.filters.price[1] = this.props.maxprice;
            this.filters.category_id = this.props.category_id;
            this.filters.discount = parseInt(this.props.discount);
            this.filters.order_by = this.props.order_by;
            // this.filters.dinamic_filters = [];
            // this.filters.dinamic_filters.push(this.props.dinamic_filters);
        },

        get() {
            if (!this.awaitingSearch) {
                setTimeout(() => {
                    this.getResults()
                    this.awaitingSearch = false;
                }, 1000);
            }
            this.awaitingSearch = true;
        },

        resetFilters() {
            this.filters.order_by = 'created_at';
            this.filters.price = [0, this.maxprice];
            this.filters.dinamic_filters = []
            this.getResults();
        },
        notEmptyObject(someObject) {
            return Object.keys(someObject).length
        },

        getResults(page = 1) {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
            };
            this.toTop(page);
            let props = {
                'page': page,
                'category_id': this.filters.category_id,
                'order_by': this.filters.order_by,
                'price': this.filters.price,
                'dinamic_filters': this.filters.dinamic_filters,
                'discount': this.filters.discount,
            }
            let url = '?page=' + page + '&category_id=' + this.filters.category_id + '&order_by=' + this.filters.order_by + '&price=' + this.filters.price + '&dinamic_filters=' + this.filters.dinamic_filters + '&discount=' + this.filters.discount;
            let url1 = '?page=' + page + '&category_id=' + this.filters.category_id;
            // let testUrl = '?page=' + page + '&category_id=' + this.filters.category_id + '&dinamic_filters=' + this.filters.dinamic_filters;

            axios.post('/api/products', props, {
                headers
            }).then(response => {
                if (response.status === 200) {
                    // count = count + 1;
                    // console.log(response.data.products)
                    // if (count > 1) {
                        window.history.pushState({pageID: 'catalog'}, 'Catalog', url1);
                    // }
                    this.maxprice = response.data.maxprice;
                    this.filters.price[1] = response.data.maxprice;
                    this.products = response.data.products;
                    this.scoped_filters = response.data.filters;
                    this.preloader = false;
                }
            }).catch(error => {
                if (typeof error.response !== 'undefined') {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        toTop(page) {
            this.preloader = true;
            if (page > 1) {
                window.scrollTo({
                    top: 200,
                    behavior: 'smooth'
                });
            }
        },

        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },

        language(sort) {
            if (this.lang === 'ro') {
                return sort.name_ro
            }

            if (this.lang === 'ru') {
                return sort.name_ru
            }
        }
    }
}
</script>

<style lang="scss">
.filters__catalog {
    .close__btn {
        position: absolute;
        top: 10px;
        right: 15px;

        .el-icon-close {
            font-size: 24px;
        }
    }

    .filter__section__me {
        height: 100vh;
        overflow: scroll;
        padding-bottom: 100px;

        li {
            margin-bottom: 20px;

            .reset_filters {
                color: #DC2828;
                font-size: 14px;
                font-weight: 600;
            }

            .el-select {
                .el-input {
                    input.el-input__inner::placeholder {
                        color: black !important;
                    }

                    .el-select__caret {
                        color: black;
                    }
                }
            }
        }

        .filter_apply {
            width: 100%;
        }

        .slider_price {
            width: 100% !important;
            padding: 0 10px;
        }

        .select {
            .el-select {
                width: 100%;
            }
        }
    }
}

.filter__section__me {
    padding: 15px 30px;
}


.filter {
    .filter__btn {
        cursor: pointer;
    }

    .filter__btn-xl {
        display: none;
    }

    .filter__btn-md {
        display: block;
    }

    @media (min-width: 576px) {
        .filter__btn-md {
            display: none;
        }
        .filter__btn-xl {
            display: block;
        }
    }

}

.slider_price {
    width: 200px;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
