<template>
    <div>
        <section>
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-6 order-md-1 order-4 mt-md-0 mt-5">
                        <form action="POST" class="bordered">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input v-model="form.name" type="text" class="form-control"
                                           :class="{'is-invalid' : errors.name ? errors.name : false}"
                                           :placeholder="translation('Nume Prenume', 'Имя Фамилия')">
                                </div>
                                <div class="col-md-6">
                                    <input v-model="form.email" type="text" class="form-control"
                                           :placeholder="translation('Email-ul dvs.', 'Ваш адрес электронной почты')"
                                           :class="{'is-invalid' : errors.email ? errors.email : false}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input v-model="form.phone" type="text" class="form-control"
                                           :placeholder="translation('Numar de telefon', 'Телефонный номер')"
                                           :class="{'is-invalid' : errors.phone ? errors.phone : false}">
                                </div>
<!--                                <div class="col-md-6">-->
<!--                                    <input v-model="form.company" type="text" class="form-control"-->
<!--                                           :placeholder="translation('Companie', 'Компания')"-->
<!--                                           :class="{'is-invalid' : errors.company ? errors.company : false}">-->
<!--                                </div>-->
                                <div class="col-md-6">
                                    <div class="select select-options">
                                        <select v-model="form.city" name="size" id="size"
                                                :class="{'is-invalid' : errors.city ? errors.city : false}">
                                            <option disabled value="0">{{translation('Orasul', 'Город')}}</option>
                                            <option v-for="(local, index) in locals" :value="local.id">
                                                {{ local.lang.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
<!--                            <div class="form-group row">-->
<!--                                <div class="col-md-6">-->
<!--                                    <div class="select select-options">-->
<!--                                        <select v-model="form.country" name="size" id="size"-->
<!--                                                :class="{'is-invalid' : errors.country ? errors.country : false}">-->
<!--                                            <option disabled value="0">{{translation('Tara', 'Страна')}}</option>-->
<!--                                            <option value="1">{{translation('Republica Moldova', 'Молдова')}}</option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </div>-->
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input v-model="form.address" type="text" class="form-control"
                                           :placeholder="translation('Adresa', 'Адрес')"
                                           :class="{'is-invalid' : errors.address ? errors.address : false}">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <textarea v-model="form.message" class="form-control"
                                              :class="{'is-invalid' : errors.message ? errors.message : false}"
                                              :placeholder="translation('Mesaj aditional', 'Дополнительное сообщение')"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 order-md-2 order-1">
                        <table class="table products_table verification">
                            <thead>
                            <tr>
                                <th colspan="3">{{ translation('Produse', 'Продукты') }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="products_row" v-for="(cart, index) in form.products">
                                <td>
                                    <div class="product d-flex align-items-center">
                                        <div>
                                            <h4>{{ lang === 'ro' ? cart.product.name_ro :  cart.product.name_ru}}
<!--                                                <span class="active">{{ cart.product.category.lang.name }}</span>-->
                                            </h4>
                                            <span class="d-block">{{ translation('Culoare', 'Цвет') }} {{ cart.product.color.lang.name }}</span>
                                            <!--                                            <span class="d-block">Marime 30x50x60</span>-->
                                        </div>
                                    </div>
                                </td>
                                <td class="text-md-right"><span class="price">{{ cart.product.price * cart.quantity }} lei</span>
                                </td>
                            </tr>
                            <tr class="products_row">
                                <td>
                                    <h6>{{ translation('Livrare', 'Доставка') }}</h6>
                                </td>
                                <td class="text-md-right"><span class="price">{{ form.delivery_price }} {{ translation('lei', 'лей') }}</span></td>
                            </tr>
                            <tr class="products_row">
                                <td>
                                    <h6>{{ translation('Total', 'Общее') }}</h6>
                                </td>
                                <td class="text-md-right"><span class="price">{{ total }} lei</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6 mt-md-5 mt-3 order-md-3 order-2">
                        <div class="grey_block">
                            <span>{{ translation('Metoda de plata', 'Способ оплаты') }}</span>
                        </div>
                        <div class="metode d-flex flex-row flex-md-wrap mt-4 pb-3">
                            <div
                                class="metod_block d-inline-flex flex-column align-items-center justify-content-center text-center"
                                :class="{'active' : form.payment_method === 1}"
                                @click="form.payment_method = 1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="59.005" height="59"
                                     viewBox="0 0 59.005 59">
                                    <g id="pay" transform="translate(0 -0.023)">
                                        <g id="Сгруппировать_228" data-name="Сгруппировать 228"
                                           transform="translate(17.604 44.258)">
                                            <g id="Сгруппировать_227" data-name="Сгруппировать 227">
                                                <path id="Контур_132" data-name="Контур 132"
                                                      d="M155.032,384.784a1.2,1.2,0,0,0-.066-.217,1.168,1.168,0,0,0-.106-.2,1.12,1.12,0,0,0-.318-.318,1.138,1.138,0,0,0-.2-.106,1.082,1.082,0,0,0-.216-.066,1.135,1.135,0,0,0-.449,0,1.116,1.116,0,0,0-.217.066,1.169,1.169,0,0,0-.2.106,1.152,1.152,0,0,0-.424.516,1.117,1.117,0,0,0-.066.217,1.108,1.108,0,0,0,0,.449,1.082,1.082,0,0,0,.066.215,1.065,1.065,0,0,0,.106.2,1.12,1.12,0,0,0,.318.318,1.159,1.159,0,0,0,.2.106,1.116,1.116,0,0,0,.217.066,1.107,1.107,0,0,0,.449,0,1.082,1.082,0,0,0,.216-.066,1.139,1.139,0,0,0,.2-.106,1.12,1.12,0,0,0,.318-.318,1.135,1.135,0,0,0,.106-.2,1.163,1.163,0,0,0,.066-.215,1.108,1.108,0,0,0,0-.449Z"
                                                      transform="translate(-152.75 -383.857)"/>
                                            </g>
                                        </g>
                                        <g id="Сгруппировать_230" data-name="Сгруппировать 230"
                                           transform="translate(0 35.737)">
                                            <g id="Сгруппировать_229" data-name="Сгруппировать 229">
                                                <path id="Контур_133" data-name="Контур 133"
                                                      d="M53.012,319.725,53,319.69c-1.061-2.482-3.548-3.4-6.492-2.394l-8.029,2.22a5.263,5.263,0,0,0-3.259-3.21l-.031-.011-8.826-3a9.1,9.1,0,0,0-7.344-3.379c-3.011,0-5.674,2.065-7.2,4.317H1.152A1.152,1.152,0,0,0,0,315.391v14.53a1.152,1.152,0,0,0,1.152,1.152H8a1.152,1.152,0,0,0,1.152-1.152v-1H12.37a1.152,1.152,0,0,0,1.152-1.152v-.332a8.171,8.171,0,0,1,4.21,1.511,69.738,69.738,0,0,0,6.924,3.535l.051.021a10.343,10.343,0,0,0,3.708.7,9.186,9.186,0,0,0,3.818-.818l17.747-6.354c.032-.011.063-.024.093-.038C51.768,325.218,54.3,323.019,53.012,319.725Zm-46.16,9.044H2.3V316.543H6.852Zm4.366-2.147H9.157V316.544h2.061Zm37.934-2.737-17.739,6.351-.052.02-.046.02a7.47,7.47,0,0,1-5.739.1,66.763,66.763,0,0,1-6.691-3.418,10.372,10.372,0,0,0-5.361-1.823V315.85c1.092-1.79,3.211-3.623,5.495-3.623a6.65,6.65,0,0,1,5.642,2.65,1.152,1.152,0,0,0,.611.488l9.159,3.109a2.586,2.586,0,0,1,1.881,3.051,2.245,2.245,0,0,1-2.759,1.55L23.226,319.8a1.152,1.152,0,0,0-.7,2.2l10.343,3.278.033.01a4.524,4.524,0,0,0,3.459-.4,4.52,4.52,0,0,0,2.162-2.73q.04-.14.07-.28l8.653-2.4c1.25-.427,2.89-.581,3.621,1.1C51.627,322.554,49.662,323.641,49.151,323.884Z"
                                                      transform="translate(0 -309.922)"/>
                                            </g>
                                        </g>
                                        <g id="Сгруппировать_232" data-name="Сгруппировать 232"
                                           transform="translate(39.097 14.253)">
                                            <g id="Сгруппировать_231" data-name="Сгруппировать 231">
                                                <path id="Контур_134" data-name="Контур 134"
                                                      d="M341.533,124.425a1.122,1.122,0,0,0-.067-.217,1.17,1.17,0,0,0-.249-.373,1.105,1.105,0,0,0-.175-.143,1.169,1.169,0,0,0-.2-.106,1.148,1.148,0,0,0-.666-.066,1.082,1.082,0,0,0-.216.066,1.136,1.136,0,0,0-.2.106,1.12,1.12,0,0,0-.318.318,1.168,1.168,0,0,0-.106.2,1.117,1.117,0,0,0-.066.217,1.107,1.107,0,0,0,0,.449,1.082,1.082,0,0,0,.066.216,1.136,1.136,0,0,0,.106.2,1.12,1.12,0,0,0,.318.318,1.137,1.137,0,0,0,.2.106,1.164,1.164,0,0,0,.216.066,1.135,1.135,0,0,0,.225.023,1.156,1.156,0,0,0,.226-.023,1.22,1.22,0,0,0,.215-.066,1.169,1.169,0,0,0,.2-.106,1.119,1.119,0,0,0,.318-.318,1.064,1.064,0,0,0,.106-.2,1.088,1.088,0,0,0,.067-.216,1.165,1.165,0,0,0,0-.449Z"
                                                      transform="translate(-339.25 -123.498)"/>
                                            </g>
                                        </g>
                                        <g id="Сгруппировать_234" data-name="Сгруппировать 234"
                                           transform="translate(3.422 0.023)">
                                            <g id="Сгруппировать_233" data-name="Сгруппировать 233"
                                               transform="translate(0 0)">
                                                <path id="Контур_135" data-name="Контур 135"
                                                      d="M84.122,3.926H77.27a1.152,1.152,0,0,0-1.152,1.152v1H72.9a1.152,1.152,0,0,0-1.152,1.152v.332a8.171,8.171,0,0,1-4.21-1.511,69.735,69.735,0,0,0-6.924-3.535l-.051-.021a9.8,9.8,0,0,0-7.525.118L48.4,4.27,44.5.361a1.152,1.152,0,0,0-1.63,0L30.033,13.194a1.143,1.143,0,0,0,0,1.63l21.93,21.93a1.245,1.245,0,0,0,1.63,0L65.308,25.037c.3.026.621.04.948.04,3.011,0,5.674-2.065,7.2-4.317H84.122a1.152,1.152,0,0,0,1.152-1.152V5.079A1.152,1.152,0,0,0,84.122,3.926ZM43.681,2.805l2.627,2.627a5.024,5.024,0,0,1-5.253,0ZM35.1,16.636l-2.627-2.627L35.1,11.382a5.025,5.025,0,0,1,0,5.253ZM52.777,34.309l-2.626-2.626a5.018,5.018,0,0,1,5.252,0Zm4.287-4.286a7.324,7.324,0,0,0-8.573,0L36.764,18.3a7.324,7.324,0,0,0,0-8.574l2.63-2.629a7.324,7.324,0,0,0,8.574,0l2.493,2.493A4.568,4.568,0,0,0,47.031,12.1a6.568,6.568,0,1,0,7.552,8.131l3.891,1.321A7.358,7.358,0,0,0,59.7,27.391Zm-7.007-11.33.031.011,2.3.782A4.265,4.265,0,1,1,46.6,14.614,5.1,5.1,0,0,0,50.057,18.692Zm11.3,7.038a5.041,5.041,0,0,1-.736-2.4,8.961,8.961,0,0,0,2.032,1.1Zm10.4-6.581c-1.092,1.791-3.211,3.623-5.495,3.623a8.388,8.388,0,0,1-1.2-.085h0a6.6,6.6,0,0,1-4.269-2.336c-.024-.035-.124-.166-.139-.187a1.148,1.148,0,0,0-.635-.528l-9.163-3.11a2.586,2.586,0,0,1-1.881-3.05v-.005a2.245,2.245,0,0,1,2.758-1.546L62.048,15.2a1.152,1.152,0,0,0,.7-2.2l-8.212-2.6-.072-.072,0,0L50.207,6.072l3.654-1.308.04-.015.012,0,.046-.02a7.469,7.469,0,0,1,5.739-.1A66.756,66.756,0,0,1,66.39,8.044a10.371,10.371,0,0,0,5.361,1.824Zm4.366-.693H74.056V8.379h2.061Zm6.852,0H78.422V6.231h4.547Z"
                                                      transform="translate(-29.691 -0.023)"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                                <span class="mt-3">{{ translation('Achitare in numerar', 'Заплатить наличными') }}</span>
                            </div>
                            <div
                                class="metod_block d-inline-flex flex-column align-items-center justify-content-center text-center"
                                :class="{'active' : form.payment_method === 2}"
                                @click="form.payment_method = 2">
                                <svg id="surface1" xmlns="http://www.w3.org/2000/svg" width="63.721" height="63.721"
                                     viewBox="0 0 63.721 63.721">
                                    <path id="Контур_136" data-name="Контур 136"
                                          d="M53.1,11.251V5.31A5.317,5.317,0,0,0,47.791,0H5.31A5.317,5.317,0,0,0,0,5.31V28.674A5.3,5.3,0,0,0,4.762,33.93L8.754,44.293a5.311,5.311,0,0,0,6.864,3.046l24.929-9.6A15.352,15.352,0,0,0,41.87,51.367l.61.976V62.659a1.062,1.062,0,0,0,1.062,1.062H62.659a1.062,1.062,0,0,0,1.062-1.062V27.6a13.9,13.9,0,0,0-4.069-9.789Zm0,6.351,3.223,8.367a3.186,3.186,0,0,1-1.829,4.117l-1.842.712a5.311,5.311,0,0,0,.448-2.124ZM2.124,28.674V5.31A3.187,3.187,0,0,1,5.31,2.124h42.48A3.187,3.187,0,0,1,50.977,5.31v6.75h-.009l.009.024v16.59a3.23,3.23,0,0,1-.072.55L41.176,19.5A5.666,5.666,0,0,0,33,27.331l4.147,4.53H5.31A3.187,3.187,0,0,1,2.124,28.674Zm13.605,5.31L8.178,36.892,7.06,33.984Zm-.875,11.372a3.186,3.186,0,0,1-4.118-1.827L8.944,38.87l12.677-4.885v-.006H39.093l1.38,1.5ZM61.6,61.6H44.6V53.1H61.6Zm0-10.62H44.132l-.461-.736a13.243,13.243,0,0,1-.269-13.6,1.062,1.062,0,0,0-.139-1.245L34.56,25.9A3.542,3.542,0,0,1,39.674,21L56.6,37.921l1.5-1.5L54.17,32.49l1.09-.425A5.311,5.311,0,0,0,58.3,25.2L54.71,15.87l3.44,3.448A11.761,11.761,0,0,1,61.6,27.6Zm0,0"/>
                                    <path id="Контур_137" data-name="Контур 137"
                                          d="M70.359,73.12a2.761,2.761,0,0,0,2.761-2.761v-5.1A2.761,2.761,0,0,0,70.359,62.5h-5.1A2.761,2.761,0,0,0,62.5,65.261v5.1a2.761,2.761,0,0,0,2.761,2.761Zm-5.735-2.761V68.872h2.124V66.748H64.624V65.261a.637.637,0,0,1,.637-.637h5.1a.637.637,0,0,1,.637.637v1.487H68.872v2.124H71v1.487a.637.637,0,0,1-.637.637h-5.1A.637.637,0,0,1,64.624,70.359Zm0,0"
                                          transform="translate(-58.252 -58.252)"/>
                                    <path id="Контур_138" data-name="Контур 138"
                                          d="M78.125,265.625h4.248v2.124H78.125Zm0,0"
                                          transform="translate(-72.815 -247.571)"/>
                                    <path id="Контур_139" data-name="Контур 139"
                                          d="M78.125,359.375h4.248V361.5H78.125Zm0,0"
                                          transform="translate(-72.815 -334.949)"/>
                                    <path id="Контур_140" data-name="Контур 140"
                                          d="M359.375,359.375h4.248V361.5h-4.248Zm0,0"
                                          transform="translate(-334.949 -334.949)"/>
                                    <path id="Контур_141" data-name="Контур 141"
                                          d="M171.875,265.625h4.248v2.124h-4.248Zm0,0"
                                          transform="translate(-160.193 -247.571)"/>
                                    <path id="Контур_142" data-name="Контур 142"
                                          d="M265.625,265.625h4.248v2.124h-4.248Zm0,0"
                                          transform="translate(-247.571 -247.571)"/>
                                    <path id="Контур_143" data-name="Контур 143"
                                          d="M359.375,265.625h4.248v2.124h-4.248Zm0,0"
                                          transform="translate(-334.949 -247.571)"/>
                                    <path id="Контур_144" data-name="Контур 144"
                                          d="M656.25,78.125h2.124v3.186H656.25Zm0,0"
                                          transform="translate(-611.646 -72.815)"/>
                                    <path id="Контур_145" data-name="Контур 145"
                                          d="M593.75,78.125h2.124v3.186H593.75Zm0,0"
                                          transform="translate(-553.394 -72.815)"/>
                                    <path id="Контур_146" data-name="Контур 146"
                                          d="M531.25,78.125h2.124v3.186H531.25Zm0,0"
                                          transform="translate(-495.142 -72.815)"/>
                                    <path id="Контур_147" data-name="Контур 147"
                                          d="M468.75,78.125h2.124v3.186H468.75Zm0,0"
                                          transform="translate(-436.89 -72.815)"/>
                                    <path id="Контур_148" data-name="Контур 148" d="M687.5,812.5h2.124v2.124H687.5Zm0,0"
                                          transform="translate(-640.771 -757.275)"/>
                                </svg>
                                <span class="mt-3">{{ translation('Achitare cu card la curier', 'Оплата картой курьеру') }}</span>
                            </div>
                            <div
                                class="metod_block d-inline-flex flex-column align-items-center justify-content-center text-center"
                                :class="{'active' : form.payment_method === 3}"
                                @click="form.payment_method = 3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="63.785" height="63.765"
                                     viewBox="0 0 63.785 63.765">
                                    <g id="XMLID_1039_" transform="translate(0 -0.083)">
                                        <g id="XMLID_393_" transform="translate(0 0.083)">
                                            <path id="XMLID_868_"
                                                  d="M164.205,393.374a1.246,1.246,0,1,0,.881.365A1.25,1.25,0,0,0,164.205,393.374Z"
                                                  transform="translate(-142.665 -344.394)"/>
                                            <path id="XMLID_872_"
                                                  d="M149.043,319.453a1.245,1.245,0,0,0-1.245-1.245H133.89a1.245,1.245,0,1,0,0,2.491H147.8A1.245,1.245,0,0,0,149.043,319.453Z"
                                                  transform="translate(-116.125 -278.589)"/>
                                            <path id="XMLID_891_"
                                                  d="M122.242,208.7h16.809a1.245,1.245,0,1,0,0-2.491H122.242a1.245,1.245,0,1,0,0,2.491Z"
                                                  transform="translate(-105.928 -180.537)"/>
                                            <path id="XMLID_913_"
                                                  d="M166.423,65.8a1.526,1.526,0,0,1-1.64-1.373,1.245,1.245,0,0,0-2.491,0,3.909,3.909,0,0,0,2.885,3.684v.173a1.245,1.245,0,1,0,2.491,0v-.173a3.909,3.909,0,0,0,2.885-3.684,4.009,4.009,0,0,0-4.131-3.864,1.395,1.395,0,1,1,1.64-1.373,1.245,1.245,0,1,0,2.491,0,3.909,3.909,0,0,0-2.885-3.684v-.173a1.245,1.245,0,1,0-2.491,0V55.5a3.909,3.909,0,0,0-2.885,3.684,4.009,4.009,0,0,0,4.131,3.864,1.395,1.395,0,1,1,0,2.747Z"
                                                  transform="translate(-142.08 -47.358)"/>
                                            <path id="XMLID_1103_"
                                                  d="M61.793,38.551l-1.943,1.4a16.947,16.947,0,0,1-9.944,3.2H45.574a1.87,1.87,0,1,1,0-3.741h2.117a6.74,6.74,0,0,0,6.727-6.486L59.859,23.5H62.54a1.245,1.245,0,0,0,0-2.491H61.3l2.322-4.021a1.245,1.245,0,0,0-.456-1.7l-4.746-2.74a1.245,1.245,0,0,0-1.7.456l-4.622,8.006H50.917a13.781,13.781,0,0,0-1.848.125V1.328A1.245,1.245,0,0,0,47.823.083H1.245A1.245,1.245,0,0,0,0,1.328V62.6a1.245,1.245,0,0,0,1.245,1.245H47.823A1.245,1.245,0,0,0,49.069,62.6V45.638h.837a19.423,19.423,0,0,0,11.4-3.669l1.943-1.4a1.245,1.245,0,1,0-1.453-2.023Zm-17.485,6.9-.01.017-2.982,2.177.394-3.671.2-.341A4.377,4.377,0,0,0,44.308,45.45ZM58.25,15.323l2.589,1.494L49.459,36.528a4.215,4.215,0,0,1-1.768.387H45.784ZM44.14,34.782h0l-3.225,5.586a1.418,1.418,0,0,1-2.6-1.051l1.843-7.407a11.085,11.085,0,0,1,10.5-8.407ZM2.491,61.357V2.574H46.578V21.711a13.609,13.609,0,0,0-8.842,9.6l-.353,1.419H11.121a1.245,1.245,0,0,0,0,2.491H36.763l-.87,3.5a3.9,3.9,0,0,0,3.358,4.825l-.593,5.522H27.145a1.245,1.245,0,1,0,0,2.491H39.777a1.245,1.245,0,0,0,.734-.239l5.468-3.991a1.248,1.248,0,0,0,.344-.383l.255-.441V61.357H2.491Z"
                                                  transform="translate(0 -0.083)"/>
                                        </g>
                                    </g>
                                </svg>
                                <span class="mt-3">{{ translation('Cumpără în credit', 'Купить в кредит') }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-5 order-md-4 order-3">
                        <div class="grey_block">
                            <span>{{ translation('Metoda de livrare', 'Способы доставки') }}</span>
                        </div>
                        <div class="metode d-flex flex-row flex-md-wrap mt-4">
                            <div
                                class="metod_block d-inline-flex flex-column align-items-center justify-content-center text-center"
                                :class="{'active' : form.delivery_method === 1}"
                                @click="form.delivery_method = 1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="71.004" height="64.223"
                                     viewBox="0 0 71.004 64.223">
                                    <g id="package" transform="translate(0 -24.45)">
                                        <g id="Сгруппировать_324" data-name="Сгруппировать 324"
                                           transform="translate(0 24.45)">
                                            <path id="Контур_156" data-name="Контур 156"
                                                  d="M71,33.236c0-.008,0-.016,0-.023,0-.031,0-.061-.006-.092,0-.011,0-.022-.005-.033,0-.028-.009-.055-.016-.082l-.008-.032c-.008-.029-.017-.058-.028-.086,0-.005,0-.011-.005-.016l-2.821-7.223a1.873,1.873,0,0,0-1.755-1.2H61.221a1.014,1.014,0,0,0,0,2.028H66.26l2.245,5.748H47.277l-1.33-5.748h7.84a1.014,1.014,0,0,0,0-2.028H12.769a1.873,1.873,0,0,0-1.755,1.2L8.193,32.871c0,.005,0,.011-.005.016-.011.028-.02.057-.028.086l-.008.032c-.006.027-.012.054-.016.082,0,.011,0,.022-.005.033,0,.03-.005.061-.006.092,0,.008,0,.016,0,.023s0,0,0,0v14.9a1.014,1.014,0,1,0,2.028,0V34.254H31.642V49.665a1.534,1.534,0,0,0,2.551,1.148l5.37-4.757,5.37,4.757a1.534,1.534,0,0,0,2.551-1.148V34.254H68.976V79.73a1.321,1.321,0,0,1-1.32,1.32H49.066c0-.012,0-.023,0-.035,0-.091,0-.182-.012-.272A3.648,3.648,0,0,0,53.347,75.8c-.036-.085-.075-.167-.116-.248l-.023-.045q-.061-.116-.13-.226l-.027-.042c-.048-.075-.1-.149-.152-.22l0,0c-.053-.07-.109-.138-.167-.2l-.032-.036q-.086-.1-.178-.185l-.036-.034c-.064-.061-.13-.12-.2-.175l-.007-.005c-.068-.055-.138-.106-.21-.156l-.039-.027q-.108-.072-.221-.137l-.018-.011a3.65,3.65,0,0,0-.685-5.983q-.16-.084-.329-.153L35,61.475,42.342,59.2a3.331,3.331,0,0,0,2.194-4.155,3.255,3.255,0,0,0-1.112-1.607,3.413,3.413,0,0,0-2.8-.657l-.014,0c-.056.013-5.687,1.279-11.568,2.426l-.766.148-.592.113-.167.032-1,.187-.385.071c-7.386,1.361-9.46,1.385-10.036,1.307H16.09l-.025,0-.017,0-.012,0a.787.787,0,0,1-.086-.02l-.166-.068.207-.508a2.005,2.005,0,0,0-.008-1.545,2.042,2.042,0,0,0-.19-.351,2,2,0,0,0-.909-.736l-5.446-2.22a2.018,2.018,0,0,0-2.631,1.107L.149,69.053a2.021,2.021,0,0,0,1.107,2.631L6.7,73.9A2.018,2.018,0,0,0,9.333,72.8l.05-.123,1.256.512h0a11.137,11.137,0,0,1,3.265,2.055q.261.237.507.489t.476.521q.115.134.225.272a13.174,13.174,0,0,0,5.29,3.947l1.413.576H11.47a1.321,1.321,0,0,1-1.32-1.32V77.164a1.014,1.014,0,1,0-2.028,0V79.73a3.351,3.351,0,0,0,3.347,3.347h15.32L39.852,88.4a3.647,3.647,0,0,0,5-3.768,3.766,3.766,0,0,0,2.022-.268,3.615,3.615,0,0,0,1.569-1.29h19.21A3.351,3.351,0,0,0,71,79.73V33.24S71,33.237,71,33.236ZM35.261,26.478h8.6l1.33,5.748H33.931ZM31.85,32.226H10.622l2.245-5.748H33.18ZM45.457,48.568h0l-4.876-4.32a1.536,1.536,0,0,0-2.034,0l-4.876,4.32V34.254H45.457Zm-38,23.455L2.03,69.81,8.682,53.5,14.11,55.71Zm40.506,6.119L46.8,77.667h0L34.679,72.725a1.014,1.014,0,0,0-.766,1.878l12.119,4.941a1.614,1.614,0,0,1,.147.069l.039.023c.033.019.067.038.1.059.015.01.029.022.044.032s.056.04.083.061.03.028.046.041.048.041.07.063.029.032.044.048.041.043.06.066.027.036.041.054.035.045.051.069.025.04.037.061.03.046.043.07.022.044.033.066.024.047.035.071.018.047.027.071.019.048.027.072.014.05.021.074.014.049.02.074.009.051.014.076.01.05.013.076,0,.051.007.077.005.051.006.077,0,.051,0,.077,0,.053,0,.079-.005.05-.008.075-.005.054-.01.081-.01.049-.015.074-.011.055-.018.082-.015.048-.023.072-.016.054-.027.081-.017.037-.025.056l0,.013a1.576,1.576,0,0,1-.832.821,1.716,1.716,0,0,1-1.32.017l-2.147-.875-.03-.011-.03-.014L32.69,77.6a1.014,1.014,0,0,0-.766,1.878L41.781,83.5l.032.011.028.013a1.62,1.62,0,0,1-1.223,3l-13.243-5.4h0l-6.2-2.529A11.139,11.139,0,0,1,16.7,75.257a13.17,13.17,0,0,0-5.29-3.948h0L10.149,70.8l2.5-6.141,2.366-5.8.175.071a2.634,2.634,0,0,0,1.029.186,26.286,26.286,0,0,0,4.427-.377c1.589-.224,3.537-.549,5.812-.967l.168-.031.322-.06.253-.047.292-.055.315-.059.254-.048.391-.075.2-.039.613-.119c5.861-1.14,11.518-2.409,11.772-2.466.025-.005.051-.008.076-.012a1.332,1.332,0,0,1,1.476.888,1.3,1.3,0,0,1-.855,1.622L31.691,60.376a1.014,1.014,0,0,0-.083,1.908l18.4,7.5a1.621,1.621,0,0,1-.6,3.121H49.4c-.049,0-.1,0-.148-.007l-.044-.006c-.038,0-.075-.009-.112-.016s-.047-.012-.07-.017-.056-.012-.084-.021-.057-.02-.085-.03-.045-.015-.068-.024l-12.12-4.942a1.014,1.014,0,0,0-.766,1.878L50.6,75.716a1.63,1.63,0,0,1,.283.149,1.622,1.622,0,0,1,.659,1.811q-.023.077-.054.152a1.633,1.633,0,0,1-.07.15,1.658,1.658,0,0,1-.376.466l-.027.024a1.629,1.629,0,0,1-1.639.248Z"
                                                  transform="translate(0 -24.45)"/>
                                        </g>
                                    </g>
                                </svg>

                                <span class="mt-3">{{ translation('Ridicare în oficiu', 'Самостоятельно') }}</span>
                            </div>
                            <div
                                class="metod_block d-inline-flex flex-column align-items-center justify-content-center text-center"
                                :class="{'active' : form.delivery_method === 2}"
                                @click="form.delivery_method = 2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="101.528" height="64.223"
                                     viewBox="0 0 101.528 64.223">
                                    <g id="shipped" transform="translate(0 -94.062)">
                                        <g id="Сгруппировать_359" data-name="Сгруппировать 359"
                                           transform="translate(0 94.062)">
                                            <g id="Сгруппировать_358" data-name="Сгруппировать 358"
                                               transform="translate(0 0)">
                                                <path id="Контур_157" data-name="Контур 157"
                                                      d="M94.421,121.288l-2.629-10.517a1.59,1.59,0,0,0,1.258-1.554v-1.7a6.684,6.684,0,0,0-6.677-6.677H74.4v-3.5a3.289,3.289,0,0,0-3.285-3.285H10.068a3.289,3.289,0,0,0-3.285,3.285v28.826a1.59,1.59,0,1,0,3.179,0V97.347a.106.106,0,0,1,.106-.106H71.112a.106.106,0,0,1,.106.106v28.827a1.59,1.59,0,1,0,3.179,0v-1.8H93.159a5.2,5.2,0,0,1,4.94,3.6H93.155a1.59,1.59,0,0,0-1.59,1.59v3.391a4.987,4.987,0,0,0,4.981,4.981h1.8v6.995H94.192a10.065,10.065,0,0,0-19.029,0H74.4V132.956a1.59,1.59,0,0,0-3.179,0v11.975H38.235a10.065,10.065,0,0,0-19.029,0H10.068a.106.106,0,0,1-.106-.106v-3.5h6.889a1.59,1.59,0,1,0,0-3.179H1.59a1.59,1.59,0,1,0,0,3.179H6.783v3.5a3.289,3.289,0,0,0,3.285,3.285h8.587c0,.035,0,.07,0,.106a10.068,10.068,0,0,0,20.136,0c0-.036,0-.071,0-.106H74.612c0,.035,0,.07,0,.106a10.068,10.068,0,0,0,20.136,0c0-.036,0-.071,0-.106h5.2a1.59,1.59,0,0,0,1.59-1.59V129.565A8.385,8.385,0,0,0,94.421,121.288ZM74.4,104.024H86.373a3.5,3.5,0,0,1,3.5,3.5v.106H74.4Zm0,17.169V110.807H88.523l2.6,10.386ZM28.72,155.106a6.889,6.889,0,1,1,6.889-6.889A6.9,6.9,0,0,1,28.72,155.106Zm55.957,0a6.889,6.889,0,1,1,6.889-6.889A6.9,6.9,0,0,1,84.677,155.106Zm13.671-20.348h-1.8a1.8,1.8,0,0,1-1.8-1.8v-1.8h3.6v3.6Z"
                                                      transform="translate(0 -94.062)" fill="#929292"/>
                                            </g>
                                        </g>
                                        <g id="Сгруппировать_361" data-name="Сгруппировать 361"
                                           transform="translate(25.435 144.932)">
                                            <g id="Сгруппировать_360" data-name="Сгруппировать 360">
                                                <path id="Контур_158" data-name="Контур 158"
                                                      d="M131.552,350.6a3.285,3.285,0,1,0,3.285,3.285A3.289,3.289,0,0,0,131.552,350.6Z"
                                                      transform="translate(-128.267 -350.597)" fill="#929292"/>
                                            </g>
                                        </g>
                                        <g id="Сгруппировать_363" data-name="Сгруппировать 363"
                                           transform="translate(81.392 144.932)">
                                            <g id="Сгруппировать_362" data-name="Сгруппировать 362">
                                                <path id="Контур_159" data-name="Контур 159"
                                                      d="M413.74,350.6a3.285,3.285,0,1,0,3.285,3.285A3.289,3.289,0,0,0,413.74,350.6Z"
                                                      transform="translate(-410.455 -350.597)" fill="#929292"/>
                                            </g>
                                        </g>
                                        <g id="Сгруппировать_365" data-name="Сгруппировать 365"
                                           transform="translate(40.696 138.15)">
                                            <g id="Сгруппировать_364" data-name="Сгруппировать 364"
                                               transform="translate(0 0)">
                                                <path id="Контур_160" data-name="Контур 160"
                                                      d="M230.556,316.393H206.817a1.59,1.59,0,0,0,0,3.18h23.739a1.59,1.59,0,0,0,0-3.18Z"
                                                      transform="translate(-205.227 -316.393)" fill="#929292"/>
                                            </g>
                                        </g>
                                        <g id="Сгруппировать_367" data-name="Сгруппировать 367"
                                           transform="translate(3.391 131.367)">
                                            <g id="Сгруппировать_366" data-name="Сгруппировать 366"
                                               transform="translate(0 0)">
                                                <path id="Контур_161" data-name="Контур 161"
                                                      d="M39.04,282.188H18.692a1.59,1.59,0,0,0,0,3.18H39.04a1.59,1.59,0,0,0,0-3.18Z"
                                                      transform="translate(-17.102 -282.188)" fill="#929292"/>
                                            </g>
                                        </g>
                                        <g id="Сгруппировать_369" data-name="Сгруппировать 369"
                                           transform="translate(28.826 109.323)">
                                            <g id="Сгруппировать_368" data-name="Сгруппировать 368">
                                                <path id="Контур_162" data-name="Контур 162"
                                                      d="M171.823,171.488a1.59,1.59,0,0,0-2.248,0l-14.137,14.137-7.354-7.354a1.59,1.59,0,1,0-2.248,2.248L154.314,189a1.589,1.589,0,0,0,2.248,0l15.261-15.261A1.59,1.59,0,0,0,171.823,171.488Z"
                                                      transform="translate(-145.37 -171.023)" fill="#929292"/>
                                            </g>
                                        </g>
                                    </g>
                                </svg>


                                <span class="mt-3">{{ translation('Livrare la domiciliu', 'Доставка на дом') }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="pt-1">
            <div class="container mt-5">
                <div class="row mt-5 mb-3">
                    <div class="col-12 text-center">
                        <div class="radio" :class="{'is-invalid_radio' : errors.terms ? errors.terms : false}">
                            <input v-model="form.terms" id="terms" value="1" type="radio" name="terms">
                            <label for="terms" class="radio__text">{{ translation('Sunt de acord cu', 'я согласен с') }}
                                <a href="/info/termeni-si-conditii" class="read-more">{{ translation('Termeni și Condiții', 'Условия и положения') }}</a></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <a href="#" @click.prevent="submitForm" class="btn_main">{{ translation('Plaseaza comanda', 'Разместить заказ') }}</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: "Delivery",
    props: ['locals', 'lang'],
    data() {
        return {
            errors: [],
            total_serv: 0,
            loader: false,
            form: {
                products: [],
                name: '',
                email: '',
                phone: '',
                company: '',
                country: 1,
                city: '',
                address: '',
                message: '',
                delivery_price: 0,
                total: 0,
                delivery_method: 1,
                payment_method: 1,
                terms: 0,
            }
        }
    },

    watch: {
        'form.city': {
            handler() {
                this.changeDeliveryPrice();
            }
        },

        'form.delivery_method': {
            handler() {
                this.changeDeliveryPrice();
            }
        }
    },

    created() {
        this.getCart();
        this.form.city = this.locals[0].id;
        this.changeDeliveryPrice();
    },

    methods: {
        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        },

        submitForm() {
            axios.post('/axios/store-cart', this.form).then(response => {
                if (response.status === 200) {
                    this.resetCartStore();
                    window.location.href = '/confirm/' + response.data.order_nr;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        resetCartStore() {
            this.$store.dispatch('resetCartStore')
        },

        getCart(type) {
            this.loader = true
            axios.post('/axios/get-cart', this.products).then(response => {
                if (response.status === 200) {
                    this.form.products = response.data.model;
                    // this.form.delivery_price = response.data.delivery_price;
                    this.total_serv = response.data.total;
                    this.loader = false;
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        },

        changeDeliveryPrice() {
            if (this.form.delivery_method === 1) {
                this.form.delivery_price = 0;
            } else {
                this.form.delivery_price = this.locals.find(item => item.id === this.form.city).price
            }

        }
    },

    computed: {
        products() {
            return this.$store.getters.cartProducts
        },

        total() {
            let total = 0;
            total = total + this.$store.getters.cartTotal;
            if (this.form.delivery_method === 2) {
                total = total + this.form.delivery_price;
            }
            this.form.total = total;
            return total;
        },
    }
}
</script>

<style lang="scss" scoped>
.is-invalid_radio {
    color: #dc3545;
}
</style>
