@media (min-width: 576px)

    .container-sm, .container
        max-width: 540px

    @media (min-width: 768px)
        .container-md, .container-sm, .container
            max-width: 720px

    @media (min-width: 992px)
        .container-lg, .container-md, .container-sm, .container
            max-width: 960px

    @media (min-width: 1150px)
        .container-lg, .container-md, .container-sm, .container
            max-width: 1150px

        .product_info .price_credit
            font-size: 12px

    @media (min-width: 1440px)
        .container-xl, .container-lg, .container-md, .container-sm, .container
            max-width: 1280px

        .product_info .price_credit
            font-size: 13px

    @media (min-width: 1920px)
        .container-xl, .container-lg, .container-md, .container-sm, .container
            max-width: 1420px

        .d-xxl-block
            display: block !important

        .d-xxl-none
            display: none !important



@media (max-width: 768px)

    button.btn_main .icon, a.btn_main .icon, input.btn_main .icon
        position: static
        display: inline-block
        transform: translate(-8px, -1px)

    .credit_modal #credit_modal__close
        position: absolute
        background-color: $heading_color
        display: block
        color: #fff
        border-radius: 50%
        width: 30px
        height: 30px
        color: $secondary_color
        text-align: center
        line-height: 30px
        right: 0
        top: -15px
        font-size: 10px

    .price_row
        width: 100%

    form
        .col-md-6
            margin-bottom: 1rem

        .row
            margin-bottom: 0

            &:last-child
                margin-top: 1rem

    .form-group label
        width: 100%

    form.opinia
        padding: 0

    .select.color
        display: inline-block

        &::after
            right: -20px

    .header
        padding-top: 0

        .top_bar
            padding-top: 40px
            background-color: $input_color

            .search_bar
                padding: 0

            .search_dropdown
                top: 100px

        ul
            list-style-type: none
            margin: 0
            padding: 0

            a
                color: $heading_color

        .navbar-brand
            padding: 0
            margin: 0

        .top_mob_menu
            padding: 20px 0

            .nav_trigger
                font-size: 25px

        .mob_sub_menu
            position: fixed
            left: 0
            top: 0
            bottom: 0
            padding: 20px 0
            width: 100%
            background-color: #fff
            opacity: 0
            z-index: 0
            transform: translateX(-100%)
            transition: all .3s ease

            &.active
                opacity: 1
                z-index: 100
                transform: translateX(0)

                nav
                    opacity: 1

                    li
                        opacity: 1

            .cat_nav
                display: inline-block
                background-color: $input_color
                width: 100%
                padding: 20px 10px
                text-transform: uppercase
                color: $heading_color
                font-weight: 600

                &:hover
                    color: $main_color

            nav
                width: 100%
                margin-top: 20px
                padding: 0 10px
                opacity: 0
                transition: opacity .3s ease-in-out
                transition-delay: .3s

            ul
                list-style-type: none
                margin: 0

                li
                    opacity: 0
                    padding: 10px 0
                    text-transform: uppercase
                    transition: opacity .3s ease-in-out
                    transition-delay: .6s

                    .fa
                        color: $font_color
                        font-size: 12px
                        margin-right: 10px

                    &:last-child
                        margin-right: 0

                a
                    color: $heading_color
                    font-weight: 600

                    &:hover
                        color: $main_color

            .nav_contacte
                width: 80%
                text-transform: none

                li
                    text-transform: none

    .banner .el-carousel__container
        height: 215px

        .banner_cta
            padding: 10px
            bottom: 10px

            div
                font-size: 21px
                padding: 10px

            .btn_main
                font-size: 10px

    .product_card.card
        padding: 5px 0 50px
        border-radius: 0

        .price_wrapper
            .old_price
                font-size: 14px

            .main_price
                font-size: 18px

    .product_info .price_row .col-md-6:first-child
        border: none

    .product_info .price_credit
        background-color: $input_color
        padding: 15px 25px
        border-radius: 50px
        font-size: 14px

        & > span
            margin: 0 8px

        .credit_price
            font-size: 18px

    .product_info .percent
        margin-left: 15px

    .color-choose li
        margin-right: 3px

    .more_button .btn_main
        width: 100%


    .slider-thumb .slick-slide .slider_thumb_item img
        width: 75px !important
        height: 75px !important


    .slick-prev, .slick-next
        z-index: 100

    .slick-prev
        left: -12px !important

    .slick-next
        right: -12px !important

    .table.products_table
        padding: 0

        &, th, td
            display: block
            text-align: left
            border: none

            thead th:not(:nth-child(2))
                display: none

            tbody

                border-bottom: 1px solid $lighten_color

                td:nth-child(3),
                td:nth-child(4)
                    width: 50%
                    display: inline-block

                td:first-child
                    top: 100px
                    left: 10px

                td:last-child
                    display: none

                .price
                    font-size: 16px

                .products_row
                    border: none

                    .input-group .form-control
                        flex: 1 1 auto
                        text-align: center

        &.verification
            thead,
            th,
            tbody
                width: 100%
                display: block !important

            th:last-child
                display: none

            tr
                display: flex
                width: 100%
                justify-content: space-between
                padding: 0
                border-bottom: 1px solid $lighten_color

            thead tr
                border: none

            th
                width: 100%

            td,
            td:first-child,
            td:last-child
                padding-left: 0
                padding-right: 0

            td:last-child
                display: block

    .total .price
        font-size: 20px

    .metode
        overflow-x: scroll

        .metod_block:first-child
            margin-left: 0

    .banner .top_banner
        height: auto

    .footer .contacts nav ul li
        display: initial

    .credit_modal
        position: absolute

        .modal_content .container
            padding: 0 15px

            .products_table
                padding: 0

            form
                padding: 0 40px

    .content
        line-height: 2

        .row .deco_logo
            width: 150px

    .blog_single
        margin-top: 0

        h1
            font-size: 18px

        .badge
            font-size: 12px
            padding: 10px

    .badges
        font-size: 10px
        opacity: 0.85

        div
            margin-bottom: 3px

    footer .contacts nav ul li
        display: block
        margin-right: 0

    footer .social ul.list i
        font-size: 24px

    footer .follow
        margin-bottom: 15px

    footer .fa-envelope
        font-size: 20px

@media (min-width: 1500px)
    .col-xxl
        max-width: 100%
        flex-basis: 0
        flex-grow: 1

    .col-xxl-auto
        width: auto
        flex: 0 0 auto

    .col-xxl-1
        flex: 0 0 8.3333%

    .row > .col-xxl-1
        max-width: 8.3333%

    .offset-xxl-1
        margin-left: 8.3333%

    .col-xxl-2
        flex: 0 0 16.6667%

    .row > .col-xxl-2
        max-width: 16.6667%

    .offset-xxl-2
        margin-left: 16.6667%

    .col-xxl-3
        flex: 0 0 25%

    .row > .col-xxl-3
        max-width: 25%

    .offset-xxl-3
        margin-left: 25%

    .col-xxl-4
        flex: 0 0 33.3333%

    .row > .col-xxl-4
        max-width: 33.3333%

    .offset-xxl-4
        margin-left: 33.3333%

    .col-xxl-5
        flex: 0 0 41.6667%

    .row > .col-xxl-5
        max-width: 41.6667%

    .offset-xxl-5
        margin-left: 41.6667%

    .col-xxl-6
        flex: 0 0 50%

    .row > .col-xxl-6
        max-width: 50%

    .offset-xxl-6
        margin-left: 50%

    .col-xxl-7
        flex: 0 0 58.3333%

    .row > .col-xxl-7
        max-width: 58.3333%

    .offset-xxl-7
        margin-left: 58.3333%

    .col-xxl-8
        flex: 0 0 66.6667%

    .row > .col-xxl-8
        max-width: 66.6667%

    .offset-xxl-8
        margin-left: 66.6667%

    .col-xxl-9
        flex: 0 0 75%

    .row > .col-xxl-9
        max-width: 75%

    .offset-xxl-9
        margin-left: 75%

    .col-xxl-10
        flex: 0 0 83.3333%

    .row > .col-xxl-10
        max-width: 83.3333%

    .offset-xxl-10
        margin-left: 83.3333%

    .col-xxl-11
        flex: 0 0 91.6667%

    .row > .col-xxl-11
        max-width: 91.6667%

    .offset-xxl-11
        margin-left: 91.6667%

    .col-xxl-12
        flex: 0 0 100%

    .row > .col-xxl-12
        max-width: 100%

    .offset-xxl-12
        margin-left: 100%
