// Bootstrap
@import '~bootstrap/scss/bootstrap'

/* vars */
//$main_font: 'Raleway', sans-serif
$main_font: 'Grotesk', sans-serif
$secondary_font: 'Open Sans', sans-serif

$main_color: #46A037
$input_color: #FAFAFA
$lighten_color: #E9E9E9
$secondary_color: #FFE83B
$heading_color: #22262A
$new_color: #3b3b3b
$font_color: #929292
$grey_color: #BBBBBB



$h1_fz: 30px
$h2_fz: 22px
$h3_fz: 20px
$h4_fz: 18px
$h5_fz: 16px
$h6_fz: 14px

[v-cloak] > *
    display: none


[v-cloak]::before
    content: " "
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    background-position: center center
    background-repeat: no-repeat
    background-color: #ffffff
    z-index: 99999999999999
    background-image: url('/images/icons/loader.gif')

.bold_me
    font-weight: bolder !important

.dropdown_item_space
    padding: 0.1rem 1.5rem !important

.font__simple
    font-family: 'Open Sans' !important


.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title
    height: 42px !important

.el-menu--horizontal>.el-menu-item.is-active
    border-bottom: 2px solid $main_color !important
    color: #303133

.el-menu--horizontal>.el-submenu.is-active .el-submenu__title
    border-bottom: 2px solid $main_color !important
    color: #303133

.cursor-pointer
    cursor: pointer


/* global */
body
    font-family: $main_font
    font-size: 14px
    color: $heading_color

    *::-webkit-scrollbar-track
        border-radius: 10px
        background-color: $input_color
        border: 1px solid $lighten_color

    *::-webkit-scrollbar
        height: 8px
        background-color: $input_color
        border: 1px solid $lighten_color

    *::-webkit-scrollbar-thumb
        border-radius: 10px
        background-color: $grey_color

h1, h2, h3, h4, h5, h6
    color: $heading_color
    font-family: $main_font
    font-weight: 800
    line-height: 1.3em
    margin: 0

h1
    font-size: $h1_fz
    font-weight: 800
    text-transform: uppercase

h2
    font-size: $h2_fz
    text-transform: uppercase
    font-weight: 400

h3
    font-size: $h3_fz

h4
    font-size: $h4_fz

h5
    font-size: $h5_fz

h6
    font-size: $h6_fz

.table
    color: inherit

.flex-grow-2
    flex-grow: 2 !important

a
    color: $main_color
    transition: all .3s ease-in-out

    &:hover
        transition: all .3s ease-in-out
        color: $heading_color
        text-decoration: none

    &.read-more
        text-decoration: underline

    &.underline
        border-bottom: 1px dashed $heading_color


a:hover,
a:focus,
a:active,
button,
button:hover,
button:focus,
button:active
    outline: 0
    outline: none

.secondary_font
    font-family: $secondary_font


input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="submit"],
select,
textarea,
textarea.form-control
    border: none
    height: auto
    padding: 10px 15px
    -webkit-appearance: none
    background-color: $input_color
    outline: 0
    outline: none

    &:focus
        outline: 0
        outline: none
        box-shadow: none
        background-color: $input_color

textarea.form-control
    height: 150px

input[type="radio"]
    visibility: hidden
    height: 0
    padding: 0
    width: 0
    position: absolute

.radio
    position: relative

    input
        & + label
            display: inline
            margin-left: 0
            position: relative
            cursor: pointer

            &::before
                content: ""
                width: 17px
                height: 17px
                border: 1px solid $lighten_color
                border-radius: 50%
                display: block
                position: absolute
                left: -25px
                top: -1px

            &::after
                content: ""
                display: none
                position: absolute
                width: 9px
                height: 9px
                background-color: $font_color
                left: -21px
                top: 3px
                border-radius: 50%

        &:checked + label::after
            display: block

.slider_price
    .el-slider__bar
        background-color: $input_color

    .el-slider__button
        background-color: $heading_color
        border: none

.bordered
    border: 1px solid $lighten_color

form.bordered
    border: 0

    input,
    select,
    textarea
        border: 1px solid $lighten_color

.form-control
    color: $heading_color

.el-input-number
    width: 142px !important

.el-input-number__decrease, .el-input-number__increase
    height: 46px !important
    line-height: 46px !important
    background-color: $input_color !important
    border: none !important
    color: $heading_color !important
    font-size: 10px !important
    font-weight: 600 !important

    &::after
        content: ""
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 1px
        height: 18px
        background-color: $lighten_color
        z-index: 5

.el-input__inner
    padding-top: 0 !important
    padding-bottom: 0 !important
    height: 46px !important
    border-radius: 50px !important

.el-input-number__increase
    border-radius: 0 50px 50px 0 !important

    &::after
        left: 0

.el-input-number__decrease
    border-radius: 50px 0 0 50px !important

    &::after
        right: 0

.input-group
    color: $heading_color

    div
        position: relative

        &::after
            content: ""
            position: absolute
            top: 50%
            transform: translateY(-50%)
            width: 1px
            height: 15px
            background-color: $lighten_color
            z-index: 5

        &.input-group-prepend:after
            right: 0

        &.input-group-append:after
            left: 0

    .btn_main
        padding-top: 9px
        padding-bottom: 9px

    input
        text-align: center

    button
        background-color: $input_color
        border: none
        border-radius: 50px
        color: $heading_color

        &:hover
            background-color: $lighten_color

form.opinia
    padding: 0 60px

.select
    position: relative
    text-transform: uppercase
    font-weight: 600
    color: $heading_color

    &.select-options

        &::after
            content: "\f078"
            font-family: "FontAwesome"
            font-size: 12px
            color: $grey_color
            position: absolute
            right: 20px
            top: 50%
            transform: translateY(-50%)
            pointer-events: none

    &.color
        height: 46px
        line-height: 46px

        &::after
            content: "\f078"
            font-family: "FontAwesome"
            font-size: 12px
            color: $grey_color
            position: absolute
            right: 45px
            top: 0

    &.rounded select
        border-radius: 50px

    select
        padding-right: 40px
        text-transform: uppercase
        width: 100%

        &.flat
            background-color: transparent

.color-choose
    list-style-type: none
    margin: 0
    padding: 0

    li
        display: inline-block
        margin-right: 10px

    input
        display: none

        & + label span
            display: inline-block
            width: 25px
            height: 25px
            margin: -1px 4px 0 0
            vertical-align: middle
            cursor: pointer
            border-radius: 50%
            box-shadow: 0 0 0 4px $grey_color

        &:checked + label span
            background-image: url('/img/icon-check.png')
            //background-color: darken($grey_color, 30%) !important
            background-repeat: no-repeat
            background-position: center
            box-shadow: 0 0 0 4px $secondary_color


::placeholder
    color: $grey_color!important
    opacity: 1

button.btn_main,
a.btn_main,
input.btn_main
    position: relative
    display: inline-block
    padding: 13px 29px
    border: none
    border-radius: 50px
    background-color: $heading_color
    color: $secondary_color
    text-align: center
    text-decoration: none
    text-transform: uppercase
    font-weight: 600
    transition: all .3s ease

    .icon
        position: absolute
        left: 10px
        top: 50%
        transform: translateY(-50%)

    &.btn__square
        border-radius: 0

    &.btn__light
        background-color: $lighten_color
        color: $heading_color

    &.btn__lighten
        background-color: $input_color

    &.btn__transparent
        background-color: transparent
        color: $heading_color

        &:hover,
        &:focus,
        &:active,
        &:visited
            background-color: inherit
            color: inherit

        &.btn__square
            border: 1px solid $lighten_color

    &.btn__circle
        height: 37px
        width: 37px
        line-height: 37px
        display: inline-block
        padding: 0

    &.btn__large
        font-size: 20px

    &.disabled
        background-color: $lighten_color
        cursor: not-allowed

        &:hover
            background-color: inherit
            color: inherit
            cursor: not-allowed

    &:hover,
    &:active,
    &:focus
        background-color: $main_color
        text-decoration: none
        outline: 0
        outline: none
        color: #fff

section
    padding: 30px 0

i.fa-phone
    transform: rotateY(180deg)

.social
    ul.list
        list-style-type: none
        margin: 0
        padding: 0

        li
            display: inline-block
            text-transform: uppercase
            padding-left: 20px

            a
                color: $grey_color
                font-size: 20px

.breadcrumbs
    padding: 15px 20px 30px

    ul
        list-style-type: none
        margin: 0
        padding: 0

        li
            display: inline-block
            margin-right: 15px
            text-transform: uppercase
            color: $font_color
            font-weight: 600

            &.drop
                &:before
                    content: "\f078"
                    font-family: "FontAwesome"
                    color: $grey_color
                    margin-right: 10px
                    font-size: 12px

            &.active
                color: $heading_color

            a
                color: inherit

            &:before
                content: "\f054"
                font-family: "FontAwesome"
                color: $grey_color
                margin-right: 15px
                font-size: 12px

    &.product
        padding: 30px 0
        border-top: 1px solid #f5f5f5

        ul li
            text-transform: none
            font-weight: 400

.filter
    ul
        list-style-type: none
        padding: 0
        margin: 0
        white-space: nowrap
        overflow-x: scroll
        padding-bottom: 30px

        li
            display: inline-block
            position: relative
            margin-right: 20px

            .slider_price
                margin-top: -20px

            label
                position: relative
                text-transform: uppercase
                font-weight: 600
                top: -10px

            &.select
                background-color: $input_color
                border-radius: 50px

                select
                    padding: 10px 20px
                    padding-right: 40px
                    width: 100%
                    border-radius: 30px
                    text-transform: uppercase
                    color: $heading_color
                    font-weight: 600

            &:last-child
                margin-right: 0

    .sort
        text-transform: uppercase
        .result
            padding-right: 20px
            border-right: 1px solid rgba(0, 0, 0, 0.1)

            span
                color: $main_color

.product_card.card
    padding: 20px 15px 20px 20px
    overflow: hidden
    border: 10px solid transparent
    transition: all .3s ease-in-out
    border-radius: 20px

    .mob_add_to_cart
        position: absolute
        width: 100%
        bottom: 0
        z-index: 5

        a
            padding: 9px 0
            color: $secondary_color
            font-size: 12px

    .product_info
        margin-top: 60px

        .categorie
            font-size: 12px
            font-weight: 600
            color: $grey_color
            text-transform: uppercase

        .color

            .color-choose li
                display: inline
                margin-right: 0

                label
                    margin-bottom: 0

                    span
                        width: 15px
                        height: 15px

                &.count
                    font-size: 12px
                    color: $grey_color

        h4
            font-size: 14px
            padding: 10px 0
            font-weight: 500
            min-height: 56px

            a
                color: $heading_color

    &:hover
        border: 10px solid $input_color

        .cta_buttons
            bottom: 0


    &.selected
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.05)
        text-align: center

        .price_wrapper
            flex-direction: column !important

        .percent
            display: none

        .cta_buttons
            position: relative
            bottom: 0

            .card_buttons a:last-child
                display: none

            .love_button
                display: none

.follow
    font-weight: 600

.badges
    position: absolute
    right: 0
    top: 15px
    list-style-type: none
    padding: 0
    margin: 0
    text-transform: uppercase
    font-weight: 800
    color: #fff

    div
        margin-bottom: 5px
        padding: 2px 10px

        &.new
            background-color: $new_color
            color: $secondary_color

        &.eco
            background-color: $main_color
            color: #fff

        &.promo
            background-color: $secondary_color
            color: $heading_color


.price_wrapper
    position: relative
    font-family: $secondary_font
    text-transform: uppercase

    .old_price
        font-size: 18px
        color: $grey_color
        text-decoration-line: line-through
        display: inline-block
        margin-right: 10px
        small
            font-size: 14px

    .main_price
        font-weight: 700
        font-size: 26px
        color: $main_color
        display: inline-block
        small
            font-size: 14px

    .main_price_item
        font-size: 22px !important

    .percent
        background-color: $main_color
        padding: 0 8px
        color: #fff
        font-weight: 500
        height: 22px
        line-height: 22px

    .cta_buttons
        padding: 10px 0
        background-color: #fff
        position: absolute
        bottom: -165px
        left: 0
        right: 0
        z-index: 10
        transition: all .3s ease

        .card_buttons
            text-transform: uppercase
            color: $heading_color
            font-weight: 700
            font-size: 12px

            a
                color: inherit
                display: inline-block
                margin-right: 10px
                border-bottom: 2px solid $heading_color

.pagination
    .page-item

        .page-link
            color: $heading_color
            padding: 10px 15px
            border-color: transparent
            border-radius: 4px
            margin-right: 10px
            background-color: transparent
            font-weight: 600

        &.disabled
            .page-link
                color: $lighten_color

        &.active,
        &:hover
            .page-link
                border-color: $lighten_color
                background-color: transparent

.products_table
    padding: 0 25px
    width: 100%


    .products_row
        padding: 25px 0
        vertical-align: middle

        &:not(:last-child)
            border-bottom: 1px solid $lighten_color

        .product
            img
                width: 50px
                margin-right: 10px

            h4
                font-size: 14px
                font-weight: 600

        .price
            color: $main_color
            font-family: $secondary_font
            font-weight: 600
            text-transform: uppercase

/* Header */
header
    padding: 10px 0 0

    .adress_dropdown
        display: inline-block
        a
            color: $heading_color
            font-size: 16px
            font-family: $secondary_font

    .search_bar
        position: relative
        width: 100%
        padding: 0 50px

        .form-control
            width: 100%
            padding-left: 50px

        .form-inline
            position: relative

            &:before
                content: "\f002"
                font-family: "FontAwesome"
                position: absolute
                left: 20px
                top: 50%
                transform: translateY(-50%)

    .search_dropdown
        //display: none
        position: absolute
        top: 80px
        left: 0
        right: 0
        background-color: #fff
        z-index: 11
        border: 1px solid $lighten_color
        box-shadow: 0 0 26px rgba(0, 0, 0, 0.07)

        h5
            text-transform: uppercase
            font-size: 14px
            padding: 15px 25px
            border-bottom: 1px solid $lighten_color

        .active
            color: $main_color

        .breadcrumbs
            padding: 15px 25px 30px

            ul
                list-style-type: none
                margin: 0
                padding: 0

                li
                    display: inline-block
                    margin-right: 15px

                    &.active
                        color: $main_color

                    a
                        color: inherit

                    &:not(:last-child)
                        &:after
                            content: "\f054"
                            font-family: "FontAwesome"
                            color: $grey_color
                            margin-left: 15px
                            font-size: 12px

        .products_table
            padding: 0 25px

            .products_row
                padding: 25px 0

                &:not(:last-child)
                    border-bottom: 1px solid $lighten_color

                .product
                    img
                        width: 50px
                        margin-right: 10px

                    h4
                        font-size: 14px
                        font-weight: 600

                .price
                    color: $main_color
                    font-family: $secondary_font
                    font-weight: 600
                    text-transform: uppercase

        .btn_main
            display: inline-block
            width: 100%
            margin-top: 40px

            .total
                font-family: $secondary_font

        &.open
            display: block
    .cart

        .count
            background-color: $heading_color
            width: 20px
            height: 20px
            color: $secondary_color
            font-size: 11px
            font-family: $secondary_font
            text-align: center
            line-height: 20px

    .top_menu
        position: relative
        ul
            list-style-type: none
            padding: 0
            margin: 0

            li
                display: inline-block
                margin-right: 25px
                padding: 20px 0
                text-transform: uppercase

                &:last-child
                    margin-right: 0

        a
            color: $heading_color
            font-weight: 600

            &:hover
                color: $main_color

        .submenu
            //display: none
            position: absolute
            width: 250px
            background-color: #fff
            border: 1px solid $lighten_color
            box-shadow: 0 0 26px rgba(0, 0, 0, 0.07)
            z-index: 9999

            li
                position: relative
                margin-right: 0
                padding: 15px 20px


                &:hover
                    background-color: $input_color

                    & > .sub_submenu
                        display: block

                .fa-chevron-right
                    color: $grey_color

                .sub_submenu
                    display: none
                    position: absolute
                    top: 0
                    left: 100%
                    width: 250px
                    color: $font_color
                    background-color: #fff
                    padding: 15px
                    font-weight: 600
                    box-shadow: 0 0 26px rgba(0, 0, 0, 0.07)

                    li
                        display: block
                        padding: 10px

                        &:hover
                            background-color: #fff
                            color: $main_color

                        a
                            color: inherit

                        .fa-chevron-right
                            margin-right: 10px
                            color: inherit

                    &:hover
                        display: block

            &.open
                display: block

        .additional_nav
            a
                font-weight: 400


/* top banner */
.banner
    padding: 0

    .el-carousel__container
        position: relative
        height: 540px

        .banner_cta
            position: absolute
            bottom: 40px

            &.aligned_left
                left: 30px

            &.aligned_right
                right: 30px

            &.aligned_center
                left: 50%
                transform: translateX(-50%)

            div
                padding: 20px
                background-color: #fff
                color: $heading_color
                font-size: 42px
                text-transform: uppercase
                font-weight: 600

    .top_contacte
        padding: 20px 0
        border-bottom: 1px solid $lighten_color

        a
            color: $heading_color

            &.mail
                font-weight: 600

/* side nav */
.side_nav
    text-transform: uppercase
    font-weight: 600

    .card
        border: none


        .card-header
            position: relative
            border: none
            font-weight: 600
            padding: 17px 25px
            background: none

            &::after
                content: "\f054"
                font-family: "FontAwesome"
                color: $font_color
                position: absolute
                right: 25px
                top: 50%
                transform: translateY(-50%)

            &.active
                background-color: $input_color

                &::after
                    content: "\f078"

            a
                color: $heading_color

        .card-body
            padding-top: 15px

            ul
                list-style-type: none
                padding: 0
                margin: 0

                li
                    color: $font_color
                    padding-left: 5px
                    margin-bottom: 10px
                    .fa
                        margin-right: 10px
                    a
                        color: inherit

.nav_description
    position: relative
    line-height: 26px

    a
        text-decoration: underline

    img
        margin-top: 15px

    .btn_main
        position: absolute
        bottom: 25px
        left: 50%
        transform: translateX(-50%)
        font-size: 26px
        text-decoration: none

/* Reviews */
.review_block
    padding: 0 20px

    .review_text
        position: relative
        padding: 30px
        background-color: $input_color
        border: 1px solid #f3f3f3
        border-radius: 4px
        box-shadow: 2px 2px 48px rgba(0, 0, 0, 0.05)
        z-index: 3

        &.bottom::before
            content: ""
            width: 0px
            height: 0px
            position: absolute
            border-left: 10px solid $input_color
            border-right: 4px solid transparent
            border-top: 5px solid $input_color
            border-bottom: 13px solid transparent
            left: 32px
            bottom: -18px
            z-index: 2

        &.bottom::after
            content: ""
            width: 0px
            height: 0px
            position: absolute
            border-left: 10px solid #f3f3f3
            border-right: 4px solid transparent
            border-top: 5px solid #f3f3f3
            border-bottom: 13px solid transparent
            left: 32px
            bottom: -20px
            transform: scale(1.1)

        &.top::before
            content: ""
            width: 0px
            height: 0px
            position: absolute
            border-left: 10px solid $input_color
            border-right: 4px solid transparent
            border-top: 13px solid transparent
            border-bottom: 5px solid $input_color
            left: 32px
            top: -18px
            z-index: 2

        &.top::after
            content: ""
            width: 0px
            height: 0px
            position: absolute
            border-left: 10px solid #f3f3f3
            border-right: 4px solid transparent
            border-top: 13px solid transparent
            border-bottom: 5px solid #f3f3f3
            left: 32px
            top: -20px
            transform: scale(1.1)

    .reviewer_block
        margin-top: 40px

        .reviewer
            .who
                color: $grey_color

.rate
    list-style-type: none
    padding: 0
    margin: 0
    color: $secondary_color

    li
        display: inline-block

small
    font-size: 11px
    font-weight: 600

.credit_modal
    max-width: 76%

.magazin_header
    background-image: url("/img/bg.png")
    padding: 0
    //padding: 30px 0
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)


/* product page */
.img_wrapper
    position: relative

    .badges
        left: 0
        z-index: 55
        right: auto

    .zoom_icon
        position: absolute
        right: 30px
        top: 10px
        cursor: pointer
        z-index: 20

    .zoom_image
        position: absolute
        top: 0
        left: 0
        right: 0
        width: 100%
        height: 100%
        cursor: pointer
        z-index: 20


.product_info
    h1
        text-transform: none
        font-weight: 300

    a
        color: $heading_color
        //white-space: nowrap
        //overflow: hidden
        //text-overflow: ellipsis

    .categorie a
        color: $font_color

    .sku
        color: #E80404
        font-family: $secondary_font
        text-transform: uppercase
        font-weight: 600

    .percent
        border-radius: 10px

    .price_row .col-md-6:first-child
            //border-right: 1px dashed $grey_color

    .price_credit
        font-size: 16px
        .credit_from_text
            color: #707070
            padding-top: 10px

        .credit_price
            font-weight: 600
            font-size: 26px
            small
                font-size: 14px

        .period
            background-color: $heading_color
            //padding: 0 14px
            padding: 4px 14px
            color: $secondary_color
            display: inline-block
            border-radius: 50px

    .slick-prev:before, .slick-next:before
        font-family: "FontAwesome"
        color: $grey_color
        opacity: 1

    .slick-next:before
        content: "\f054"

    .slick-prev:before
        content: "\f053"

    .slider_primary .slick-prev,
    .slider_primary .slick-next
        display: none !important

.product_specs
    border-top: 1px solid #f5f5f5

    .product_accordion
        border: none

        .el-collapse-item__header
            padding: .75rem 1.25rem
            background-color: transparent
            color: $heading_color
            border: 1px solid $lighten_color
            cursor: pointer
            font-size: 14px
            position: relative
            font-weight: 600

            &::after
                content: "+"
                font-size: 25px
                position: absolute
                top: 0
                right: 1.25rem

            &.is-active

                &:after
                    content: "-"

        .el-collapse-item__arrow
            display: none
        .card
            border: none

            .card-header
                background-color: transparent
                color: $heading_color
                border: 1px solid $lighten_color
                cursor: pointer

                h5
                    font-size: 14px
                    position: relative

                    &::after
                        content: "+"
                        font-size: 25px
                        position: absolute
                        right: 0

            .card-body
                display: none
                padding: 1.25rem 0

        &.open
            .card-body
                display: block


            .card-header h5:after
                content: "-"

    .table_specs

        td
            padding: .70rem 0
            border-top: 0
            border-bottom: 1px dashed $grey_color

            &:first-child
                color: $font_color

.upsells

    .upsell_col:not(:nth-last-of-type(2))

        &::after
            content: "+"
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: -5px
            font-size: 40px

    .total_price_equal
        &::before
            content: "="
            position: absolute
            top: 50%
            transform: translateY(-50%)
            left: 0px
            font-size: 40px

    .total_price_equal
        width: 100%
        padding-left: 50px
        .badge
            font-size: 14px
            text-transform: uppercase
            padding: 8px
            display: inline-block
            border-radius: 0

            &.black
                background-color: $heading_color
                color: $secondary_color

        .main_price
            text-transform: none
            span
                font-size: 41px

        .percent
            border-radius: 50px
            font-weight: 400
            margin-top: 20px

.overlay
    display: none
    z-index: 888
    background-color: transparentize($heading_color, 0.2)
    position: fixed
    top: 0
    bottom: 0
    width: 100%

.credit_modal
    display: none
    position: fixed
    z-index: 1000
    top: 50px
    left: 50%
    transform: translateX(-50%)
    width: 100%

    #credit_modal__close
        color: $heading_color
        font-size: 18px

    &.open
        display: block

    .container
        background-color: #fff
        padding: 25px 40px

    .credit_types
        overflow-x: scroll
        padding: 25px 0
        margin: 25px 0
        border-top: 1px solid $lighten_color

    .credit_block
        height: 125px
        background-color: $input_color
        border: 1px solid $lighten_color
        min-width: 125px
        flex-grow: 1
        margin-right: 10px
        cursor: pointer

        &.active
            color: $main_color
            border: 1px solid $main_color

        .amount
            font-size: 24px
            font-weight: 600

        .btn_main
            font-size: 14px
            padding: 3px 15px
            font-size: 10px
            margin-top: 5px

            &:hover
                background-color: $heading_color

    .info
        border-top: 1px solid $lighten_color
        padding-top: 25px

    .total_table
        margin-top: 30px

        .total_row
            padding: 10px 0
            font-weight: 600

            div:last-child
                color: $main_color
                text-transform: uppercase

            &:not(:last-child)
                border-bottom: 1px solid $lighten_color

/* Card page  */
.step
    border-bottom: 3px solid $lighten_color
    color: $font_color

    .check_mark
        display: none

    h4
        color: $font_color

    &.active
        border-bottom: 3px solid $grey_color
        color: $heading_color

        .check_mark
            display: block

        h4
            color: $heading_color

.table.products_table
    th,
    td
        padding: 25px 25px
        text-align: right
        border: none
        vertical-align: middle

        &:first-child
            padding: 0
            width: 30px
            text-align: center
            cursor: pointer
            vertical-align: middle
            //padding-top: 20px
            //position: absolute
            //padding: 0
            //display: block
            //width: 30px
            //text-align: center
            //left: 0
            //top: 55%
            //transform: translateY(-50%)
            //cursor: pointer

        &:nth-child(2)
            padding-left: 25px
            text-align: left

        .input-group

            .form-control
                flex: initial

    .products_row
        border-bottom: 1px solid $lighten_color

    thead th
        background-color: $input_color
        text-transform: uppercase
        font-weight: 400
        padding-top: 15px
        padding-bottom: 15px

    &.verification
        th
            padding: 15px 25px !important

        th:first-child,
        td:first-child
            position: static
            display: block
            text-align: left
            width: auto
            transform: none
            cursor: initial
            padding: 25px

.total
    font-weight: 600
    text-transform: uppercase
    font-size: 20px

    .price
        color: $main_color


/* Livrare */
.grey_block
    background-color: $input_color
    padding: 15px
    padding-left: 30px

.metod_block
    border: 1px solid $lighten_color
    border-radius: 3px
    height: 150px
    max-width: 150px
    padding: 15px
    color: $font_color
    margin-left: 25px
    cursor: pointer
    flex: 1 0 auto

    span
        padding: 0 15px
        line-height: 1.1

    svg
        fill: $font_color

    &.active
        color: $heading_color
        border-color: $heading_color

        svg
            fill: $heading_color


/* About */
.content
    .row
        position: relative
        .deco_logo
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            z-index: 300
            width: 200px

/* blog */

.card
    border: none

.meta
    small
        color: $font_color

    ul
        padding: 0
        margin: 0

        li
            display: inline-block
            margin-right: 18px
            position: relative

            small
                color: $heading_color

            &:not(:first-child)::before
                content: "\2022"
                position: absolute
                top: 50%
                left: -15px
                transform: translateY(-50%)
                font-size: 24px

.blog-single_header__wrapper
    position: relative
    .blog-single_header
        position: absolute
        width: 100%
        top: 0

        h2
            color: white
            font-weight: 600
            text-shadow: 2px 0 0 $lighten_color, -2px 0 0 $lighten_color, 0 2px 0 $lighten_color, 0 -2px 0 $lighten_color, 1px 1px $lighten_color, -1px -1px 0 $lighten_color, 1px -1px 0 $lighten_color, -1px 1px 0 $lighten_color
            font-size: 226px
            font-size: 15vw
            opacity: 0.35

.blog_single
    position: relative
    margin-top: 100px

    h1
        font-size: 30px
        text-transform: none

    .badge
        background-color: $heading_color
        color: $secondary_color
        margin-bottom: 5px
        padding: 5px 10px
        font-size: 14px

    .meta small
        color: $font_color

/* contacts page */
.contacte
    list-style-type: none
    padding: 0
    margin: 0

/* Footer */
footer
    padding: 30px 0
    background-color: $input_color

    .instagram-feed
        border-bottom: 1px solid rgba(0, 0, 0, 0.1)

        .icon
            font-size: 36px

        .instagram_description
            a
                text-transform: uppercase
                color: $heading_color
                font-weight: 700

                span
                    font-size: 11px
                    font-weight: 100
    .contacts
        color: $heading_color
        padding: 40px 0
        .fas
            color: $font_color

        a
            color: $heading_color

        nav
            ul
                padding: 0
                margin: 0
                list-style-type: none

                li
                    display: inline-block
                    margin-right: 20px

                    &:last-child
                        margin-right: 0

                    a
                        text-transform: uppercase
                        font-weight: 600

    .social ul.list li a
        font-size: 14px



@import '_responsive'
