<template>
    <span class="count d-inline-block rounded-circle">{{countCart}}</span>
</template>

<script>
export default {
    name: "CartCount",
    computed: {
        countCart() {
            return this.$store.getters.countCart;
        }
    }
}
</script>

<style scoped>

</style>
