<template>
    <div class="row">
        <div class="col-md-3">
            <div class="accordion side_nav"
                 v-for="(category, index) in categories"
                 :key="index">
                <div class="card" @click="setCat(category.id)">
                    <div class="card-header"
                         :class="{'active' : active === category.id}">
                        <a href="#" @click.prevent="">{{ category.lang.name }}</a>
                    </div>
                    <div class="card-body"
                         v-if="category.childs.length > 0"
                         :class="active === category.id ? '' : 'd-none'">
                        <nav>
                            <ul>
                                <li v-for="(subcategory, i) in category.childs" :key="i">
                                    <i class="fa fa-chevron-right"></i>
                                    <a :href="'/catalog?category_id='+subcategory.id">{{ subcategory.lang.name }}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="nav_description" v-if="current != ''">
                <p>{{ current.lang.description }}
                    <!--<a :href="'/catalog/'+current.id">Afișează mai mult</a>-->
                </p>
                <div class="img__category">
                    <img :src="current.image" :alt="current.lang.name" class="img-fluid">
                </div>
                <a :href="'/catalog/'+current.id" class="btn_main btn__square">{{ current.lang.name }}</a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Categories",
    props: ['categories'],
    data() {
        return {
            active: 0,
            current: '',
        }
    },

    created() {
        this.active = this.categories[0].id;
        this.description(this.categories[0].id)
    },

    methods: {
        setCat(id) {
            this.active = id
            this.description(id)
        },

        description(id) {
            this.current = this.categories.find(item => item.id === id);
        }
    }
}
</script>

<style lang="scss" scoped>
.accordion {
    transition: opacity .5s;
}

.nav_description {
    .img__category {
        height: 200px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
</style>
