<template>
    <div>
        <div class="overlay" :style="$parent.popup ? 'display: block' : ''"></div>
        <div class="credit_modal" :style="$parent.popup ? 'display: block' : ''">
            <div class="modal_content">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a href="#" @click.prevent="$parent.popup = false" id="credit_modal__close"><i
                                class="fa fa-close"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="products_table">
                                <div
                                    class="products_row d-flex justify-content-between flex-md-row align-items-md-center align-items-start flex-column">
                                    <div class="product d-flex align-items-center flex-grow-2">
                                        <img :src="product.image"
                                             :alt="product.name">
                                        <div>
                                            <h4>{{ product.name }}</h4>
                                            <span
                                                class="d-block">{{lang === 'ro' ? 'Culoare' : 'Цвет'}} {{product.color.lang.name}}</span>
                                            <!--                                            <span class="d-block">Marime 30x50x60</span>-->
                                        </div>
                                    </div>
                                    <div
                                        class="price_row d-flex flex-row justify-content-between align-items-center flex-grow-1 mt-3 mt-md-0">
                                        <div class="price flex-grow-md-1">
                                            <span>{{ product.price }} {{lang === 'ro' ? 'lei' : 'лей'}}</span>
                                        </div>
                                        <div class="flex-grow-md-1">
                                            <el-input-number v-model="form.quantity" :min="1"
                                                             size="medium"></el-input-number>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="credit_types">
                                <div class="d-flex flex-nowrap">
                                    <div
                                        v-for="(credit, index) in credits" :key="index"
                                        :class="{'active' : form.credit_id === credit.id}"
                                        @click="form.credit_id = credit.id"
                                        class="credit_block d-inline-flex flex-column justify-content-center align-items-center">
                                        <span><span class="secondary_font">{{ credit.month }}</span> {{lang === 'ro' ? 'Luni' : 'Месяцы'}}</span>
                                        <span class="amount secondary_font">{{ monthPayment(credit) }}</span>
                                        <span>{{lang === 'ro' ? 'lei lunar' : 'лей ежемесячно'}}</span>
                                        <a class="btn_main secondary_font" v-if="credit.month <= 3">{{lang === 'ro' ? 'Credit 0%' : '0% кредит'}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="total_table">
                                <div class="total_row d-flex justify-content-between">
                                    <div>{{lang === 'ro' ? 'Credit' : 'Кредит'}}</div>
                                    <div class="secondary_font">{{ credit }} {{lang === 'ro' ? 'lei' : 'лей'}}</div>
                                </div>
                                <div class="total_row d-flex justify-content-between">
                                    <div>{{lang === 'ro' ? 'Total' : 'Общее'}}</div>
                                    <div class="secondary_font">{{ total }} {{lang === 'ro' ? 'lei' : 'лей'}}</div>
                                </div>
                            </div>
                            <form class="bordered mt-4 mb-4 mb-md-0">
                                <div class="form-group">
                                    <!--                                    <input v-model="form.avans"-->
                                    <!--                                           :min="0"-->
                                    <!--                                           :max="product.price - (product.price / 100) * 50"-->
                                    <!--                                           :controls="false"-->
                                    <!--                                           name="sum"-->
                                    <!--                                           type="number"-->
                                    <!--                                           class="form-control bordered input__number"-->
                                    <!--                                           placeholder="Suma avansului">-->
                                    <label class="mb-0" for="">{{lang === 'ro' ? 'Suma avansului' : 'Размер аванса'}}</label>
                                    <el-input-number class="form-control bordered input__number__me"
                                                     :class="{'is-invalid' : errors.avans ? errors.avans : false}"
                                                     clearable
                                                     :max="maxavans"
                                                     :controls="false"
                                                     :min="0"
                                                     v-model="form.avans"
                                                     :placeholder="lang === 'ro' ? 'Suma avansului' : 'Размер аванса'"></el-input-number>
                                </div>
                                <div class="form-group">
                                    <input v-model="form.name" name="name"
                                           type="text"
                                           class="form-control"
                                           :class="{'is-invalid' : errors.name ? errors.name : false}"
                                           :placeholder="lang === 'ro' ? 'Nume Prenume' : 'Имя Фамилия'">
                                </div>
                                <div class="form-group">
                                    <input v-model="form.phone"
                                           name="tel"
                                           :placeholder="lang === 'ro' ? 'Nr de telefon' : 'Телефонный номер'"
                                           type="tel"
                                           class="form-control"
                                           :class="{'is-invalid' : errors.phone ? errors.phone : false}">
                                </div>
                                <div class="col-12 mt-4">
                                    <input @click.prevent="submit()" type="submit" class="btn_main"
                                           :value="lang === 'ro' ? 'Cumpara in credit' : 'Купить в кредит'">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 col-12">
                            <div class="info">
                                <p>{{lang === 'ro' ? '*După completarea formularului de credit, veți fi contactat de către operatorul nostru pentru confirmare.' : '* После заполнения кредитной формы с вами свяжется наш оператор для подтверждения.'}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Credit",
    props: ['product', 'credits'],
    data() {
        return {
            lang: '',
            errors: [],
            form: {
                product_id: 0,
                quantity: 1,
                credit_id: 0,
                avans: 0,
                name: '',
                phone: '',
            }
        }
    },

    watch: {
        'form.avans': {
            handler() {
                if (typeof this.form.avans == 'undefined') {
                    this.form.avans = 0;
                }
            }
        },

        'product': {
            handler() {
                this.form.product_id = this.product.id;
            }
        }
    },

    created() {
        this.form.credit_id = this.credits[0].id;
        this.form.product_id = this.product.id;
        this.lang = lang;
    },

    methods: {
        monthPayment(item) {
            let total = 0;
            let price = this.maxavans - this.form.avans;
            // total = (parseFloat(price) * (item.interest_rate)) / item.month
            total = (parseFloat(price) / parseInt(item.month)) + (parseFloat(price) * (item.interest_rate / 100));
            total = parseFloat(total).toFixed(2);
            return total;
        },

        submit() {
            axios.post('/axios/save-credit-form', this.form)
                .then(response => {
                    if (response.status === 200) {
                        this.$notify({
                            title: 'Success',
                            message: response.data.message,
                            type: 'success'
                        });
                        this.$parent.popup = false;
                    }
                }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    },

    computed: {

        maxavans() {
            let total = 0;
            total = total + parseFloat(this.product.price) * parseInt(this.form.quantity)
            return total;
        },

        credit() {
            let item = this.credits.find(item => item.id === this.form.credit_id)
            let total = 0;
            let price = this.maxavans - this.form.avans;
            total = (price * (item.interest_rate / 100)) * item.month;
            total = parseFloat(total).toFixed(2);
            return total;
        },

        total() {
            let total = 0;
            let price = this.maxavans - this.form.avans;
            total = parseFloat(price) + parseFloat(this.credit);
            total = parseFloat(total).toFixed(2);
            if (total == 0) {
                return this.maxavans;
            } else {
                return total;
            }


        }
    }
}
</script>

<style lang="scss">
.credit_modal {
    background: white;
    padding: 20px 10px;
    width: 90%;

    button.btn_main, a.btn_main, input.btn_main {
        color: #FFE83B;
    }

    .input__number__me {
        border: none !important;
        width: 100% !important;
        padding: 0;

        .el-input {
            .el-input__inner {
                padding: 10px 15px !important;
                -webkit-appearance: none !important;
                background-color: #FAFAFA !important;
                outline: none !important;
                border-radius: 5px !important;
                width: 100% !important;
                text-align: left !important;
            }
        }
    }
}
</style>
