<template>
    <el-menu class="el-menu-cezo__primary" mode="horizontal">
        <el-submenu>
            <template
                slot="title"><i id="nav_trigger" class="nav_trigger fas fa-bars"></i>
                <span>{{ translation('Toate Categoriile', 'Все категории') }}</span>
            </template>
            <el-submenu v-for="(category, key) in categories" :key="category.id" :index="String(key)">
                <template slot="title">
                    <div>
                        <img class="mr-1" :src="category.icon" alt="">
                        <a class="color-black" href="#">{{ category.lang.name }}</a>
                    </div>
                </template>
                <el-menu-item @click="goToUrl(child.id)" class="item-submenu__me" v-for="(child, k) in category.childs"
                              :key="child.id"
                              v-if="category.childs.length > 0"
                              :index="String(key+'-'+k)">
                    <a class="color-black" :href="'/catalog?category_id='+child.id">
                        <i class="el-icon-arrow-right"></i>
                        <span>{{ child.lang.name }}</span>
                    </a>
                </el-menu-item>
            </el-submenu>
        </el-submenu>
        <el-menu-item index="1"><a href="/info/comanda-si-livrare">{{ translation('Livrare', 'Доставка') }}</a>
        </el-menu-item>
        <el-menu-item index="2"><a href="/about">{{ translation('Despre noi', 'О нас') }}</a></el-menu-item>
        <el-menu-item index="3"><a href="/contacts">{{ translation('Contacte', 'Контакты') }}</a></el-menu-item>
    </el-menu>
</template>

<script>
export default {
    name: "HeaderMenu",
    props: ['categories', 'lang'],
    methods: {
        goToUrl(slug){
            window.location.href = '/catalog?category_id='+slug
        },

        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        }
    }
}
</script>

<style lang="scss">
.color-black {
    color: #22262A !important;
    font-weight: 600;

    &:hover {
        color: #46A037 !important;
    }
}

.el-menu--popup-right-start {
    margin-left: 0;

    .el-menu-item {
        .color-black {
            .el-icon-arrow-right {
                font-size: 12px !important;
            }
        }

        &:hover {
            color: #46A037;
        }
    }
}

.el-menu-cezo__primary {
    border-bottom: 0 !important;

    .el-submenu {
        padding: 0;
        margin-right: 30px;

        .el-submenu__title {
            padding: 0 !important;
            font-weight: 600;
            color: #22262A;

            .text-black{
                margin-left: 10px;
            }

            &:hover {
                background: #FAFAFA !important;
            }

            .el-submenu__icon-arrow {
                display: none;
            }
        }
    }

    .item-submenu__me {
        .color_black {
            .el-icon-arrow-right {
                font-size: 12px !important;
            }
        }
    }


    .el-menu-item {
        padding: 0;
        margin-right: 30px;
        color: #22262A;

        a {
            color: #22262A;
        }
    }
}
</style>
