<template>
    <div>
<!--        //start btn-->
        <a v-if="sub === false" href="#" @click="sub = true" class="cat_nav">
            <i class="fas fa-th"></i>
            {{ translation('Toate Categoriile', 'Все категории') }}
        </a>

<!--        back btn-->
        <a v-if="sub === true"
           href="#"
           @click="back()"
           class="cat_nav">
            <i class="fas fa-arrow-left"></i>
            {{ translation('Inapoi', 'Назад') }}
        </a>

<!--        categorii-->
        <div class="categories__sub__me"
             v-if="sub === true && showSubSub === false">
            <ul>
                <li v-for="(category, i) in categories"
                    class="d-flex align-items-center justify-content-between">
                    <div @click.prevent="setSubSub(category.id)">
                        <img :src="category.icon" alt="" class="mr-1">
                        <a href="#">{{ category.lang.name }}</a>
                    </div>
                    <i v-if="category.childs.length > 0" class="fa fa-chevron-right"></i>
                </li>
            </ul>
        </div>

        <div class="categories__sub__me" v-if="showSubSub === true">
            <ul>
                <li v-if="subCatagories.childs.length > 0"
                    v-for="(subcategory, i) in subCatagories.childs"
                    class="d-flex align-items-center justify-content-between">
                    <div>
                        <img :src="subcategory.icon" alt="" class="mr-1">
                        <a :href="'/catalog?category_id=' + subcategory.id">{{ subcategory.lang.name }}</a>
                    </div>
                    <i v-if="subcategory.childs.length > 0" class="fa fa-chevron-right"></i>
                </li>
            </ul>
        </div>
        <ul class="sub_submenu" v-if="sub === false">
            <li><i class="fa fa-chevron-right"></i><a
                href="/info/comanda-si-livrare">{{translation('Livrare', 'Доставка')}}</a></li>
            <li><i class="fa fa-chevron-right"></i><a
                href="/about">{{translation('Despre noi', 'О нас')}}</a></li>
            <li><i class="fa fa-chevron-right"></i><a
                href="/contacts">{{translation('Contacte', 'Контакты')}}</a></li>
        </ul>
        <ul class="nav_contacte" v-if="sub === false">
            <li><i class="fa fa-map-marker-alt"></i> str. Calea Orheiului 122, et. 5, of. 5</li>
            <li><i class="fa fa-phone"></i> 068 39 30 39</li>
            <li><i class="fa fa-phone"></i> 068 39 20 39</li>
            <li><i class="fa fa-envelope"></i> cezomobila.md@gmail.com</li>
        </ul>
        <div class="social d-flex flex-column" v-if="sub === false">
            <p>{{translation('URMĂREȘTE-NE', 'ПОДПИСЫВАЙТЕСЬ')}}</p>
            <ul class="list">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
</template>

<script>
export default {
    name: "MobileCategories",
    props: ['categories', 'lang'],
    data() {
        return {
            sub: false,
            showSubSub: false,
            subsub: 0,
            subCatagories: [],
        }
    },

    methods: {
        back(){
            if (this.showSubSub === false){
                this.sub = false;
            }else{
                this.showSubSub = false;
            }
        },

        setSubSub(id){
            this.subsub = id;
            this.subCatagories = this.categories.find(item => item.id === id);
            this.showSubSub = true;
        },

        translation(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru;
            }
        }
    }
}
</script>

<style scoped>

</style>
