<template>
    <div :class="type === 'desktop' ? 'col-md-6' : 'col-9'">
        <div class="search_bar">
            <div class="form-inline my-2 my-lg-0">
                <el-autocomplete
                    v-model="state"
                    :fetch-suggestions="querySearchAsync"
                    :placeholder="language('Caută produse ...', 'Искать продукты ...')"
                    @select="handleSelect"
                    value-key="name"
                    :debounce="700"
                    autocomplete="on"
                    popperClass="el-autocomplete-suggestion--search-results"
                    :popperOptions="optPop"
                    popper-class="popper__class"
                    class="el-autocomplete--search-bar-nav"
                    :class="{'el-item__width' : type === 'mobile'}"
                >
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                    <template slot-scope="{ item }">
                        <div class="search_dropdown">
                            <div class="products_table">
                                <div @click="goToUrl(item)"
                                     class="products_row d-flex justify-content-between align-items-center cursor-pointer">
                                    <div class="product d-flex flex-row align-items-center">
                                        <img :src="item.image"
                                             :alt="item.name">
                                        <div class="d-flex flex-wrap">
                                            <h4 class="cursor-pointer w-100">
                                                {{ item.name }}
                                            </h4>
                                            <div class="price">
                                                <span>{{ item.price }} lei</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--                            <a href="#" v-if="count > products.length" class="btn_main btn__square">AFIȘEAZĂ TOATE <span-->
                            <!--                                class="total">{{ count }}</span>-->
                            <!--                                PRODUSE</a>-->
                        </div>
                    </template>

                </el-autocomplete>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "SearchBarDinamic",
    props: ['type', 'lang'],
    data() {
        return {
            state: '',
            result: [],
            timeout: null,
            category: 0,
            optPop: {
                visibleArrow: false
            },
        }
    },

    methods: {
        language(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru
            }
        },
        handleSelect(item) {
            console.log(item);
        },
        goToUrl(product) {
            window.location.href = '/product/' + product.slug
        },

        querySearchAsync(queryString, cb) {
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': this.lang,
                'X-course': this.course,
            };
            if (queryString.length >= 3) {
                $.getJSON("/axios/get-global-search/" + queryString, {
                        headers: headers
                    },
                    function (result) {
                        if (result.result.length > 0) {
                            cb(result.result);
                        } else {
                            cb(result.result);
                            this.$notify({
                                title: window.lang === 'ro' ? 'Atenție' : 'Осторожно',
                                message: window.lang === 'ro' ? 'Nu sau gasit rezultate dupa cuvintele introduse' : 'По введенных слов результатов не найдено',
                                type: 'warning',
                                position: 'bottom-right'
                            });
                        }


                    }.bind(this))
            } else {
                cb([]);
            }
        },
    }
}
</script>

<style lang="scss">
@media (max-width: 576px) {
    .el-popper {
        width: 93% !important;
    }
}

.search_bar {
    .el-autocomplete--search-bar-nav {
        width: 100%;

        .el-input__icon {
            font-size: 15px;
            font-weight: 900;
            color: #22262A;
        }

        .el-input__inner {
            border-radius: 0 !important;
        }

    }
}

</style>
