<template>
    <div>
        <div class="col-12">
            <div class="search_bar">
                <form class="form-inline my-2 my-lg-0">
                    <input v-model="search"
                           class="form-control mr-sm-2"
                           @focus="search_result = true"
                           type="search" placeholder="Caută produse ..."
                           aria-label="Search">
                </form>
            </div>
        </div>
        <div class="search_dropdown" v-show="search_result">
            <!--                <h5>Categorii</h5>-->
            <!--                <div class="breadcrumbs">-->
            <!--                    <ul>-->
            <!--                        <li><a href="#">Bucatarie</a></li>-->
            <!--                        <li><a href="#">Bucatarie</a></li>-->
            <!--                        <li class="active"><a href="#">Bucatarie</a></li>-->
            <!--                    </ul>-->
            <!--                    <ul>-->
            <!--                        <li><a href="#">Bucatarie</a></li>-->
            <!--                        <li><a href="#">Bucatarie</a></li>-->
            <!--                        <li class="active"><a href="#">Bucatarie</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <h5>Produse</h5>
            <div class="products_table">
                <div v-for="(product, index) in products"
                     :key="index"
                     @click="goToUrl(product)"
                     class="products_row d-flex justify-content-between align-items-center">
                    <div class="product d-flex flex-row align-items-center">
                        <img :src="product.image"
                             :alt="product.product.lang.name">
                        <!--                            <h4>Boone 8 Seat <span class="active">Dining</span> Table, Concrete</h4>-->
                        <h4 class="cursor-pointer">
                            {{ product.product.lang.name }}
                            <!--                                <span class="active">Dining</span> -->
<!--                            {{ product.product.category.name }}-->
                        </h4>
                    </div>
                    <div class="price">
                        <span>{{ product.price }} lei</span>
                    </div>
                </div>
            </div>
            <a href="#"
               v-if="count > products.length"
               class="btn_main btn__square">AFIȘEAZĂ TOATE <span class="total">{{ count }}</span>
                PRODUSE</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "SearchBar",
    props: ['type'],
    data() {
        return {
            search: '',
            search_result: false,
            products: [],
            count: 0,
        }
    },

    watch: {
        'search': {
            handler() {
                this.getResult();
                if (this.search === '') {
                    this.search_result = false;
                }
            }
        }
    },

    methods: {
        goToUrl(product){
            window.location.href = '/product/'+ product.product.slug
        },
        getResult() {
            if (this.search !== '') {
                axios.get('/axios/get-global-search/' + this.search)
                    .then(response => {
                        if (response.data.status === 200) {
                            if (response.data.result.length === 0) {
                                this.search_result = false;
                            }
                            this.search_result = true;
                            this.count = response.data.count;
                            this.products = response.data.result;
                        }
                    }).catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors;
                    }
                });
            }
        }
    }
}
</script>

<style scoped>

</style>
