<template>

</template>

<script>
export default {
    name: "CatalogFilter",
    props: ['scoped_filters'],
    data() {
        return {
            value: [0, 60],
            marks: {
                0: '0',
                60: '60'
            }
        }
    }
}
</script>

<style lang="sass" scoped>
.slider_price
    width: 200px
</style>
