<template>
    <div class="search_box" v-click-outside="outside">

        <div class="search-input">
            <div class="input_group">
                <input type="text" class="suggestion" autocomplete="off"
                       disabled
                       v-model="placeholderSet">
                <input class="main_search"
                       type="text"
                       @click="initBox()"
                       @change="initGet()"
                       v-model="form.query"
                       :placeholder="placeholderSet">
            </div>
            <div class="input-group-btn">
                <button class="searchbox-close btn btn-default"
                        type="reset"
                        @click="clearResult()">
                    <i class="el-icon-close"></i>
                </button>
                <button @click="initGet()" class="btn btn-default searchbox-submit-button">
                    <span class="sr-only">Caută</span>
                    <i class="el-icon-search"></i>
                </button>
            </div>
        </div>
        <div class="search-result" v-if="open">
            <div class="products">
                <div class="item" v-for="(item, index) in products" :key="index">
                    <div class="img">
                        <!--                        <img :src="item.searchable.image" alt="" width="100px" height="100px">-->
                    </div>
                    <div class="content">
                        <div class="name">
                            <a :href="'product'+item.slug">{{ item.name }}</a>
                        </div>
                        <div class="price">
                            <span>{{ item.price }} Lei</span>
                        </div>
                    </div>
                    <div class="content_category">
                        <span>
                            <i class="el-icon-paperclip"></i>in <a
                            :href="'/catalog?category_id=' + item.category.id">
                            {{ item.category.lang ? item.category.lang.name : '' }}</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="annex">
                <div class="item_group" v-for="(parent, i) in categories" :key="i">
                    <span>{{ i }}</span>
                    <div class="item_child" v-for="(child, ii) in parent" :key="ii">
                        <div class="name">
                            <a :href="'/catalog?category_id=' + child.id">{{ child.lang.name }}</a>
                        </div>
                        <div class="quantity">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="loader" class="loader">
                <i class="el-icon-loading"></i>
            </div>
        </div>
        <div class="search-result no_result_found" v-if="no_result">
            <span>Din pacate nu sa gasit nici un rezultat...</span>
        </div>
    </div>
</template>

<script>
export default {
    name: "NewSearchBar",
    data() {
        return {
            products: [],
            categories: [],
            split_array: [],
            loader: false,
            no_result: false,
            open: false,
            timeoutQuery: null,
            form: {
                query: ''
            }
        }
    },

    watch: {
        'form.query': {
            handler() {
                if (this.timeoutQuery) {
                    clearTimeout(this.timeoutQuery)
                }
                this.timeoutQuery = setTimeout(function () {
                    this.initGet()
                }.bind(this), 300)
            }
        }
    },

    methods: {
        clearResult() {
            this.products = [];
            this.categories = [];
            this.loader = false;
            // this.open = false;
            this.no_result = false;
        },

        outside: function (e) {
            this.open = false;
            console.log('clicked outside!')
        },
        inside: function (e) {
            console.log('clicked inside!')
        },

        initGet() {
            if (this.form.query.length >= 3) {
                this.get();
            }

            if (this.form.query.length === 0) {
                this.clearResult();
            }
        },

        initBox() {
            this.open = true;
        },

        get() {
            this.loader = true;
            this.no_result = false;
            this.products = [];
            this.categories = [];
            const headers = {
                'Content-Type': 'application/json',
                'X-localization': 'ro',
            };
            axios.get('/api/new-search/' + this.form.query, {
                headers
            }).then(response => {
                if (response.status === 200) {
                    this.products = response.data.products;
                    this.categories = response.data.categories;
                    this.loader = false;
                    if (response.data.products.length === 0) {
                        this.no_result = true;
                    }

                    this.splitFunction();
                    console.log(this.split_array[0])
                }
            }).catch(error => {
                if (typeof error.response !== 'undefined') {
                    if (error.response.status === 422) {
                        this.errors = error.response.data.errors;
                    }
                }
            });
        },

        splitFunction() {
            if (this.products.length > 0) {
                let array = this.products[0].title.split(" ");
                array = array.filter(val => (val !== undefined) && (val !== null) && (val !== ''))
                this.split_array = array;
            }
        },

        // initialIsCapital(word) {
        //     return word[0] !== word[0].toLowerCase();
        // },
        //
        capitalizeFirstLetter(string) {
            return string.charAt(0).toUpperCase() + string.slice(1);
        }
    },

    computed: {
        placeholderSet() {
            if (this.products.length > 0) {
                return this.products[0].title;
                // if (this.products[0].title === this.split_array[0]) {
                // if(this.initialIsCapital(this.form.query)){
                //     return this.capitalizeFirstLetter(this.products[0].title);
                // }else{
                //     return this.products[0].title;
                // }
                // if(this.form.query.toLowerCase() != this.products[0].title.substring(0, this.form.query.length).toLowerCase()){
                if (this.form.query != this.products[0].title.substring(0, this.form.query.length)) {
                    return '';
                } else {

                }


                // }
                // return '';
            }
            return '';
        },
    },

    directives: {
        'click-outside': {
            bind: function (el, binding, vNode) {
                // Provided expression must evaluate to a function.
                if (typeof binding.value !== 'function') {
                    const compName = vNode.context.name
                    let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
                    if (compName) {
                        warn += `Found in component '${compName}'`
                    }

                    console.warn(warn)
                }
                // Define Handler and cache it on the element
                const bubble = binding.modifiers.bubble
                const handler = (e) => {
                    if (bubble || (!el.contains(e.target) && el !== e.target)) {
                        binding.value(e)
                    }
                }
                el.__vueClickOutside__ = handler

                // add Event Listeners
                document.addEventListener('click', handler)
            },

            unbind: function (el, binding) {
                // Remove Event Listeners
                document.removeEventListener('click', el.__vueClickOutside__)
                el.__vueClickOutside__ = null

            }
        }
    }
}
</script>

<style lang="scss" scoped>
.search_box {
    width: 400px;
    position: relative;

    .search-input {
        width: 100%;
        border-bottom: 1px solid #cacaca;
        display: flex;
        flex-wrap: nowrap;
        position: relative;

        .input_group {
            z-index: 2;
            float: left;
            width: 100%;
            margin-bottom: 0;
        }


        .suggestion {
            position: absolute;
            text-transform: capitalize;
            top: 0;
            left: 0;
            bottom: 0;
            border: 1px solid transparent;
            outline: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0 12px;
            line-height: 20px;
        }

        .main_search {
            position: absolute;
            text-transform: capitalize;
            top: 0;
            left: 0;
            bottom: 0;
            border: 1px solid transparent;
            outline: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0 12px;
            line-height: 20px;
            background: #ffffff85;
        }

        input {
            width: 100%;
        }

        .input-group-btn {
            display: flex;
            background: #FAFAFA;
        }
    }

    .search-result {
        //display: grid;
        //grid-template-columns: 1.3fr .8fr;
        display: flex;
        width: 100%;
        height: 300px;
        position: absolute;
        border-radius: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 10px;
        border: 1px solid #fafafa;
        border-top: 0;

        .products {
            //overflow: auto;
        }

        .loader {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;
        }
    }
}

</style>
