<template>
    <div class="row">
        <div class="col-12">
            <vue-slick-carousel
                v-if="refresh"
                class="slider_primary order-1 order-lg-2 mx-auto"
                ref="sliderone"
                v-bind="option_slider"
                @beforeChange="syncSliders">
                <div class="slider_primary_item"
                     v-for="(img, index) in galleries"
                     :key="img.id">
                    <img :src="img.url" alt="">
                    <div class="zoom_image" @click="imgClick(img, index)"></div>
                </div>
            </vue-slick-carousel>
        </div>
        <div class="col-12">
            <vue-slick-carousel
                v-if="refresh"
                class="slider-thumb order-2 order-lg-1"
                ref="slidertwo"
                v-bind="option_thumb"
                :focusOnSelect="true"
                @beforeChange="syncSliders">
                <div class="slider_thumb_item" v-for="(img, index) in galleries" :key="img.id">
                    <img :src="img.url" alt="">
                </div>
            </vue-slick-carousel>
        </div>
        <el-dialog
            top="0"
            append-to-body
            :lock-scroll="true"
            :visible.sync="dialogVisible"
            width="100%">
            <!--            <div class="el__dialog__image">-->
            <!--                <img :src="img" alt="">-->
            <!--            </div>-->
            <div class="slider_pop">
                <div class="slider_pop_thumb mob_none">
                    <vue-slick-carousel
                        v-if="refresh"
                        class="slider-thumb order-2 order-lg-1"
                        ref="slidertwo1"
                        v-bind="option_thumb_one"
                        :focusOnSelect="true"
                        @beforeChange="syncSliders">
                        <div class="slider_thumb_item" v-for="(img, index) in galleries" :key="img.id">
                            <img :src="img.url" alt="">
                        </div>
                    </vue-slick-carousel>
                </div>
                <div class="slider_pop_images">
                    <vue-slick-carousel
                        v-if="refresh"
                        class="slider_primary order-1 order-lg-2 mx-auto"
                        ref="sliderone1"
                        v-bind="option_slider_one"
                        @beforeChange="syncSliders">
                        <div class="slider_primary_item slider_pop_up_item"
                             v-for="(img, index) in galleries"
                             :key="img.id">
                            <img :src="img.url" alt="">
                        </div>
                    </vue-slick-carousel>
                </div>
            </div>
        </el-dialog>
    </div>
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
    name: "SliderProduct",
    props: ['galleries'],
    components: {VueSlickCarousel},
    data() {
        return {
            dialogVisible: false,
            img: '',
            refresh: true,
            option_slider: {
                fade: true,
                dots: false,
                navigation: true,
            },
            option_slider_one: {
                fade: true,
                dots: true,
                navigation: false,

            },
            option_thumb: {
                slidesToShow: 4,
                vertical: false,
                navigation: true,
                responsive: [
                    {
                        breakpoint: 991.99,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            infinite: true,
                            dots: false,
                            vertical: false,
                        }
                    }
                ]
            },
            option_thumb_one: {
                slidesToShow: 4,
                vertical: true,
                navigation: true,
                responsive: [

                    {
                        breakpoint: 991.99,
                        settings: {
                            slidesToShow: 4,
                            slidesToScroll: 4,
                            infinite: true,
                            dots: false,
                            vertical: false,
                        }
                    }
                ]
            },
        }
    },

    watch: {
        'galleries': {
            handler() {
                this.refresh = false
                // this.$refs.slidertwo.destroy()
                // this.$nextTick(() => {
                //     this.$refs.slidertwo.create()
                // })
                this.$nextTick(() => {
                    // this.$refs.slidertwo.reinit
                    this.refresh = true
                })
            }
        }
    },

    methods: {
        imgClick(item, index) {
            this.dialogVisible = true;
            this.img = item.url;
            this.$refs['sliderone1'].goTo(index)
            this.$refs['slidertwo1'].goTo(index)
        },

        syncSliders(currentPosition, nextPosition) {
            this.$refs['sliderone'].goTo(nextPosition)
            this.$refs['slidertwo'].goTo(nextPosition)
            if (this.dialogVisible) {
                this.$refs['sliderone1'].goTo(nextPosition)
                this.$refs['slidertwo1'].goTo(nextPosition)
            }
        },
    }
}
</script>

<style lang="sass">
.slider_pop
    display: grid
    grid-template-columns: 20% 66%

.mob_none
    display: block

.slick-prev:before, .slick-next:before
    font-size: 40px !important
    color: #d8dbde

.slider-thumb
    .slick-slide
        .slider_thumb_item
            img
                width: 100px
                height: 100px

.slider_primary
    .slider_primary_item
        width: 100%
        height: 400px

        img
            width: 100%
            height: 100%
            object-fit: contain

    .slider_pop_up_item
        //height: 600px !important
        height: calc(100vh - 100px)

.el-dialog__wrapper
    overflow: hidden

    .el-dialog
        background: #ffffff !important
        height: 100%

        .el__dialog__image
            width: 100%
            height: 100vh
            min-height: 100%

            img
                width: 100%
                height: 100%
                object-fit: contain

@media (max-width: 420px)
    .slider_pop
        display: block

    .mob_none
        display: none

    .slick-arrow
        display: none !important

</style>
