<template>
    <div class="opinia">
        <div class="form-group">
            <input v-model="form.name"
                   name="name"
                   type="text"
                   required
                   class="form-control"
                   placeholder="Nume Prenume"
                   :class="{'is-invalid' : errors.name ? errors.name : false}">
        </div>
        <div class="form-group">
            <input v-model="form.email" name="email" type="email" required class="form-control"
                   placeholder="Email-ul dvs"
                   :class="{'is-invalid' : errors.email ? errors.email : false}">
        </div>
        <div class="form-group">
            <textarea v-model="form.description" name="message" required placeholder="Mesajul dvs"
                      class="form-control"
                      :class="{'is-invalid' : errors.description ? errors.description : false}"></textarea>
        </div>
        <div class="row">
            <div class="col-md-6 col-6">
                <span>Clasificare dvs.:</span>
                <div class="rate_block">
                    <ul class="rate">
                        <el-rate
                            v-model="form.rate">
                        </el-rate>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-6 text-right">
                <input @click="save()" type="submit" class="btn_main btn__light" value="Trimite">
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Form",
    props: ['product_id'],
    data() {
        return {
            form: {
                product_id: 0,
                name: '',
                email: '',
                description: '',
                rate: 0
            },
            errors: [],
        }
    },

    created() {
        this.form.product_id = this.product_id;
    },

    methods: {
        save() {
            axios.post('/axios/rate/save', this.form).then(response => {
                if (response.data.status === 200) {
                    this.form.name = '';
                    this.form.email = '';
                    this.form.description = '';
                    this.$root.showMore = false;
                    this.$notify({
                        title: 'Success',
                        message: response.data.message,
                        type: 'success'
                    });
                }
            }).catch(error => {
                if (error.response.status == 422) {
                    this.errors = error.response.data.errors;
                }
            });
        }
    }
}
</script>

<style scoped>

</style>
