<template>
    <div class="review_block flex-fill">
        <div class="review_text bottom">
            <p>{{item.description}}</p>
        </div>
        <div class="reviewer_block d-flex justify-content-between align-items-start">
            <div class="reviewer">
                <h5>{{item.name}}</h5>
                <p class="who">Client</p>
            </div>
            <div class="rate_block text-right">
                <ul class="rate">
                    <el-rate
                        v-model="item.rate"
                        :disabled="true">
                    </el-rate>
                </ul>
                <small onclick="window.location.href = '/product/'+item.slug">{{item.product.name}}</small>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Item",
    props: ['item']
}
</script>

<style scoped>

</style>
