<template>
    <tr>
        <td>
            <div @click="deleteFromStore()">x</div>
        </td>
        <td class="products_row">
            <div class="product d-flex align-items-center" @click="goToProd()">
                <img :src="cart.product.image" :alt="cart.product.name">
                <div>
                    <h4>{{ lang === 'ro' ? cart.product.name_ro : cart.product.name_ru }}</h4>
                    <span class="d-block">{{ lang === 'ro' ? 'Culoare' : 'Цвет' }} {{ cart.product.color.lang.name }}</span>
                    <!--                                            <span class="d-block">Marime 30x50x60</span>-->
                </div>
            </div>
        </td>
        <td class="products_row"><span class="price">{{ cart.product.price }} {{ lang === 'ro' ? 'lei' : 'лей' }}</span></td>
        <td class="products_row text-center">
            <div class="d-inline-block">
                <el-input-number @change="addToCart" v-model="filter.quantity" :min="1" size="medium"></el-input-number>
            </div>
        </td>
        <td class="products_row"><span class="price">{{ cart.product.price * filter.quantity }} {{ lang === 'ro' ? 'lei' : 'лей' }}</span></td>
    </tr>
</template>

<script>
export default {
    name: "Item",
    props: ['cart'],
    data() {
        return {
            lang: '',
            filter: {
                color_id: '',
                quantity: 0
            }
        }
    },

    created() {
        this.lang = window.lang;
        this.filter.quantity = this.cart.quantity;
    },

    methods: {
        goToProd(){
            window.location.href = '/product/' + this.cart.product.slug
        },

        addToCart() {

            let prod = {
                id: this.cart.product.id,
                quantity: this.filter.quantity,
                price: this.cart.product.price,
                color_id: this.filter.color_id,
            }
            this.$store.dispatch('addProductToCart', prod)
        },

        deleteFromStore() {

            let prod = {
                id: this.cart.product.id,
                quantity: this.filter.quantity,
                price: this.cart.product.price,
                color_id: this.filter.color_id,
            }
            this.$store.dispatch('deleteFromStore', prod)
            this.$parent.getCart();
        }
    },
}
</script>

<style scoped>

</style>
