<template>
    <div class="product_card card flex-fill">
        <div class="product_image_container">
            <!--            <img :src="product.image"  class="img-fluid lozad">-->
            <app-image :lazy-src="product.image"
                       :lazy-srcset="product.image"
                       :alt="product.name"/>
        </div>
        <div class="product_info">
<!--            <span class="categorie">{{ product.category.lang.name }}</span>-->
            <h4><a :href="'/product/'+product.slug" class="stretched-link">{{ product.name }}</a></h4>
            <div class="price_wrapper d-flex justify-content-between align-items-center">
                <div class="price">
                    <span class="old_price mr-2" v-if="product.price_discount !== null">{{
                            product.price_discount
                        }} {{ language('LEI', 'ЛЕЙ') }}</span>
                    <span class="main_price main_price_item">{{ product.price }} {{ language('LEI', 'ЛЕЙ') }}</span>
                </div>
                <div class="percent" v-if="product.price_discount !== null">-{{ differencePrice() }}%</div>
                <!--                <div class="cta_buttons d-none d-md-flex d-lg-flex justify-content-between align-items-center">-->
                <!--                    <div class="card_buttons">-->
                <!--                        <a href="#cos">ADAUGĂ ÎN COȘ</a>-->
                <!--                        <a :href="'/product/'+product.slug">{{language('INFORMAȚIE', 'ИНФОРМАЦИЯ')}}</a>-->
                <!--                    </div>-->
                <!--                    <div class="love_button">-->
                <!--                        <a href="#">-->
                <!--                            <svg xmlns="http://www.w3.org/2000/svg" width="19.37" height="18.625"-->
                <!--                                 viewBox="0 0 19.37 18.625">-->
                <!--                                <path id="Icon_ionic-ios-heart-empty"-->
                <!--                                      data-name="Icon ionic-ios-heart-empty"-->
                <!--                                      d="M17.53,3.938h-.047A5.3,5.3,0,0,0,13.06,6.359,5.3,5.3,0,0,0,8.637,3.938H8.59A5.264,5.264,0,0,0,3.375,9.2,11.334,11.334,0,0,0,5.6,15.378a39,39,0,0,0,7.459,7.185,39,39,0,0,0,7.459-7.185A11.334,11.334,0,0,0,22.745,9.2,5.264,5.264,0,0,0,17.53,3.938ZM19.467,14.61a35.713,35.713,0,0,1-6.407,6.314A35.766,35.766,0,0,1,6.653,14.6,10.045,10.045,0,0,1,4.679,9.2,3.951,3.951,0,0,1,8.6,5.246h.042a3.9,3.9,0,0,1,1.914.5A4.069,4.069,0,0,1,11.97,7.076a1.308,1.308,0,0,0,2.188,0,4.109,4.109,0,0,1,1.416-1.327,3.9,3.9,0,0,1,1.914-.5h.042A3.951,3.951,0,0,1,21.451,9.2,10.172,10.172,0,0,1,19.467,14.61Z"-->
                <!--                                      transform="translate(-3.375 -3.938)" fill="#22262a"/>-->
                <!--                            </svg>-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <!--            <div class="d-md-none d-xl-none">-->
            <!--                <div class="mob_add_to_cart">-->
            <!--                    <a href="#cos" class="btn_main btn__square d-inline-block w-100 mt-2">ADAUGĂ ÎN-->
            <!--                        COȘ</a>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <div class="badges text-center d-flex flex-column">
            <div class="new" v-if="product.offer_type_new">{{ language('Nou', 'Новый') }}</div>
            <div class="eco" v-if="product.credit_zero">{{ language('Credit', 'Кредит') }} <span
                class="font__simple">0%</span></div>
            <div class="promo" v-if="product.offer_type_promotie">{{ language('Promotie', 'Супер цена') }}</div>
        </div>
    </div>
</template>

<script>
import AppImage from "../ui/AppImage";

export default {
    name: "Item",
    components: {AppImage},
    props: ['product', 'lang'],
    methods: {
        language(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru
            }
        },

        differencePrice() {
            let total = 0;
            total = ((this.product.price_discount * 100) / this.product.price) - 100;
            total = total.toFixed();
            return total;
        }
    }
}
</script>

<style lang="scss" scoped>
.product_card {
    .product_image_container {
        max-height: 215px;
        height: 215px;

        .img-fluid {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}
</style>
