<template>
    <div>
        <section class="product_info">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-6">
                        <div class="img_wrapper">
                            <div class="badges text-center d-flex flex-column">
                                <div class="new" v-if="product.offer_type_new">{{ language('Nou', 'Новый') }}</div>
                                <div class="eco" v-if="product.credit_zero">{{ language('Credit', 'Кредит') }} <span
                                    class="font__simple">0%</span></div>
                                <div class="promo" v-if="product.offer_type_promotie">
                                    {{ language('Promoție', 'Супер цена') }}
                                </div>
                            </div>
                            <product-slider v-if="product.images.length > 0"
                                            :galleries="product.images"></product-slider>
                            <product-slider v-else
                                            :galleries="[{'name': product.name,'url': product.image}]"></product-slider>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row no-gutters mt-3 mt-md-0">
                            <div class="col-md-6 col-6">
                                <span class="categorie"><a href="#">{{ product.category.lang.name }}</a></span>
                            </div>
                            <div class="col-md-6 col-6">
                                <span class="recenzii">
                                    <div class="rate_block text-right">
                                        <ul class="rate d-inline-block mr-2">
                                            <el-rate
                                                v-model="product.calc_rates"
                                                :disabled="true"></el-rate>
                                        </ul>
                                        <small><a class="underline"
                                                  href="#">{{
                                                product.rates.length
                                            }} {{ language('recenzii', 'отзывы') }} </a></small>
                                    </div>
                                </span>

                            </div>
                        </div>
                        <div class="row mt-3 mb-3">
                            <div class="col-md-12">
                                <h1 class="product_title">{{ product.name }}</h1>
                                <span
                                    class="sku">{{ language('Cod:', 'Код:') }} <span>{{
                                        product.locale_sku
                                    }}</span></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="size">{{ language('Selectează culoarea', 'Выберите цвет') }} </label>
                                    <div class="select color"
                                         :class="{'no_arrow' : filters.length <= 20}">
                                        <ul class="color-choose">
                                            <li v-for="(item, index) in filters"
                                                v-if="item.color"
                                                :key="index">
                                                <input type="radio"
                                                       :id="item.color.hex"
                                                       :checked="item.color_id === product.color_id"
                                                       v-model="filter.color_id"
                                                       :value="item.color.id"
                                                       :name="item.color.hex"
                                                       @click="goToProduct(item.slug)">
                                                <label :for="item.color.hex">
                                                    <span :style="'background:'+item.color.hex"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="col-md-6">-->
                            <!--                                <div class="form-group">-->
                            <!--                                    <label for="size">Selecteaza marimea</label>-->
                            <!--                                    <el-select v-model="value" placeholder="Select">-->
                            <!--                                        <el-option-->
                            <!--                                            v-for="(item, index) in product.product_specifications"-->
                            <!--                                            :key="index"-->
                            <!--                                            v-if="item.size_spec"-->
                            <!--                                            :label="item.size_spec.attribute.lang.name"-->
                            <!--                                            :value="item.id">-->
                            <!--                                        </el-option>-->
                            <!--                                    </el-select>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                        </div>
                        <div class="row price_row mt-3 mb-4">
                            <div class="col-md-6">
                                <div
                                    class="price_wrapper d-flex justify-content-md-between align-items-center float-left">
                                    <div class="price">
                                        <span class="old_price" v-if="product.price_discount !== null">
                                            {{ product.price_discount }} <small>{{
                                                language('LEI', 'ЛЕЙ')
                                            }}</small></span>
                                        <span class="main_price mr-2">{{
                                                product.price
                                            }} <small>{{ language('LEI', 'ЛЕЙ') }}</small> </span>
                                    </div>
                                    <div class="percent" v-if="product.price_discount !== null">-{{
                                            differencePrice()
                                        }}%
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 align-items-center justify-content-between d-none d-md-flex">
                                <div v-if="product.price > 1000"
                                     class="price_credit d-flex align-items-center justify-content-md-between w-100">
                                    <span class="credit_from_text">{{language('În credit de la', 'В кредит от')}} </span>
                                    <span class="credit_price secondary_font">
                                        {{ creditFrom }}<small> {{ language('LEI', 'ЛЕЙ') }}</small> </span>
                                    <span class="period mb-1">{{ language('lunar', 'ежемесячно') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div
                                class="col-md-12 d-flex justify-content-between flex-row flex-nowrap align-content-center">
                                <el-input-number class="input__quantity__me" v-model="filter.quantity" :min="1"
                                                 size="medium"></el-input-number>
                                <div v-if="product.no_stock == 0" class="flex-grow-1 d-flex justify-content-end">
                                    <button @click="addToCart()" class="btn_main mr-4">
                                        {{ language('Adaugă in coș', 'в корзину') }}
                                    </button>
                                    <button v-if="product.price > min_credit_price" id="credit" @click="showModalCredit()"
                                            class="btn_main btn__light d-none d-md-block">
                                        {{ language('Cumpără in credit', 'Купить в кредит') }}
                                    </button>
                                </div>
                                <div v-if="product.no_stock == 1"
                                     class="flex-grow-1 d-flex justify-content-end">
                                    <button disabled class="btn_main mr-4">
                                        {{ language('Stoc epuizat', 'Нет в наличии') }}
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row d-block d-md-none mt-5">
                            <div class="col-md-12 align-items-center justify-content-between d-flex">
                                <div v-if="product.price > 1000"
                                     class="price_credit d-flex align-items-center justify-content-md-between justify-content-center w-100">
                                    <span>{{ language('În credit de la', 'В кредит от') }}  </span>
                                    <span class="credit_price secondary_font">{{ creditFrom }} {{
                                            language('LEI', 'ЛЕЙ')
                                        }}</span>
                                    <span class="period">{{ language('lunar', 'ежемесячно') }} </span>
                                </div>
                            </div>
                            <div class="col-12 text-center mt-4">
                                <button v-if="product.price > min_credit_price" id="credit" @click="showModalCredit()"
                                        class="btn_main btn__light">
                                    {{ language('Cumpără in credit', 'Купить в кредит') }}
                                </button>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <!--                            <div class="col-md-6 text-center text-md-left mb-3 mb-md-0">-->
                            <!--                                <div class="love_button">-->
                            <!--                                    <a href="#">-->
                            <!--                                        <svg xmlns="http://www.w3.org/2000/svg" width="19.37" height="18.625"-->
                            <!--                                             viewBox="0 0 19.37 18.625">-->
                            <!--                                            <path id="Icon_ionic-ios-heart-empty" data-name="Icon ionic-ios-heart-empty"-->
                            <!--                                                  d="M17.53,3.938h-.047A5.3,5.3,0,0,0,13.06,6.359,5.3,5.3,0,0,0,8.637,3.938H8.59A5.264,5.264,0,0,0,3.375,9.2,11.334,11.334,0,0,0,5.6,15.378a39,39,0,0,0,7.459,7.185,39,39,0,0,0,7.459-7.185A11.334,11.334,0,0,0,22.745,9.2,5.264,5.264,0,0,0,17.53,3.938ZM19.467,14.61a35.713,35.713,0,0,1-6.407,6.314A35.766,35.766,0,0,1,6.653,14.6,10.045,10.045,0,0,1,4.679,9.2,3.951,3.951,0,0,1,8.6,5.246h.042a3.9,3.9,0,0,1,1.914.5A4.069,4.069,0,0,1,11.97,7.076a1.308,1.308,0,0,0,2.188,0,4.109,4.109,0,0,1,1.416-1.327,3.9,3.9,0,0,1,1.914-.5h.042A3.951,3.951,0,0,1,21.451,9.2,10.172,10.172,0,0,1,19.467,14.61Z"-->
                            <!--                                                  transform="translate(-3.375 -3.938)" fill="#929292"/>-->
                            <!--                                        </svg>-->
                            <!--                                        <span> <a class="underline" @click="toFavorite()" href="#">Adauga in produse preferate</a></span>-->
                            <!--                                    </a>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <div
                                class="col-md-6 text-center text-md-right d-flex justify-content-md-start justify-content-center">
                                <div class="social d-flex align-content-center align-items-center">
                                    <span>{{ language('Distribue:', 'Поделиться:') }}</span>
                                    <ul class="list">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <credit :product="product" :credits="credits"></credit>
        </section>
        <section class="product_specs">
            <div class="container-xl">
                <div class="row">
                    <div class="col-md-5 mb-3 mb-md-0">
                        <h4 class="mb-3">{{ language('Descriere', 'Описание') }}</h4>
                        <p v-html="product.description"></p>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0">
                        <h4 class="mb-3">{{ language('Informație', 'Информация') }}</h4>
                        <el-collapse accordion class="accordion product_accordion mb-3">
                            <el-collapse-item :title="language('Livrare', 'Доставка')"
                                              name="1" class="mb-3">
                                <p class="mt-2" v-html="language(product.delivery_ro, product.delivery_ru)"></p>
                            </el-collapse-item>
                            <el-collapse-item :title="language('Montare', 'Монтаж')"
                                              name="2" class="mb-3">
                                <p class="mt-2" v-html="language(product.mounting_ro, product.mounting_ru)"></p>
                            </el-collapse-item>
                            <el-collapse-item :title="language('Returnare', 'Возврат')"
                                              name="3" class="mb-3">
                                <p class="mt-2" v-html="language(product.returning_ro, product.returning_ru)"></p>
                            </el-collapse-item>
                        </el-collapse>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <h4 class="mb-3">{{ language('Specificații', 'Характеристики') }}</h4>
                        <table class="table table_specs">
                            <tr v-for="(spec, i) in specifications">
                                <td>{{ i }}</td>
                                <td class="text-right">
                                    <span class="text-capitalize" v-for="(sp, index) in spec">
                                        {{sp.attribute.lang.name}}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
export default {
    name: "Product",
    props: ['product', 'credits', 'specifications', 'lang', 'filters'],
    data() {
        return {
            min_credit_price: 500,
            popup: false,
            creditFrom: 0,
            prod: [],
            filter: {
                color_id: '',
                quantity: ''
            }
        }
    },

    watch: {
        'filter.color_id': {
            handler() {
                this.setProd()
            }
        }
    },

    created() {
        this.monthPayment();
        this.filter.color_id = this.product.color_id;
    },

    methods: {
        goToProduct(slug) {
            window.location.href = '/product/' + slug
        },

        differencePrice() {
            let total = 0;
            total = ((this.product.price_discount * 100) / this.product.price) - 100;
            total = total.toFixed();
            return total;
        },

        language(ro, ru) {
            if (this.lang === 'ro') {
                return ro;
            }

            if (this.lang === 'ru') {
                return ru
            }
        },

        addToCart() {
            if (this.filter.color_id === '') {
                this.$notify({
                    title: window.lang === 'ro' ? 'Atenție' : 'Осторожно',
                    message: window.lang ? 'Alege culoare pentru produsul curent' : 'Выберите цвет для текущего продукта',
                    type: 'warning'
                });
            } else {
                let prod = {
                    id: this.product.id,
                    quantity: this.filter.quantity,
                    color_id: this.filter.color_id,
                    price: this.product.price,
                };
                this.$store.dispatch('addProductToCart', prod)
            }

        },

        incrementItemQuantity(product) {
            this.$store.dispatch('incrementItemQuantity', this.prod)
        },

        decrementProductInventory(product) {
            this.$store.dispatch('decrementProductInventory', this.prod)
        },

        // monthPayment() {
        //     let item = this.credits[this.credits.length-1];
        //     let total = 0;
        //     let price = parseFloat(this.product.price);
        //     if (item.interest_rate != 0) {
        //         total = (parseFloat(price) * parseFloat(item.interest_rate)) / parseInt(item.month)
        //     } else {
        //         total = parseFloat(price) / parseInt(item.month)
        //     }
        //
        //     total = total.toFixed();
        //     this.creditFrom = total;
        //     return total;
        // },

        monthPayment() {
            let item = this.credits[this.credits.length - 1];
            let total = 0;
            let price = this.maxavans;
            total = (parseFloat(price) / parseInt(item.month)) + (parseFloat(price) * (item.interest_rate / 100));
            total = parseFloat(total).toFixed(2);
            this.creditFrom = total;
            return total;
        },

        showModalCredit() {
            window.scrollTo(0, 0);
            this.popup = !this.popup;
        },

        toFavorite() {

        },

        setProd() {
            this.prod = this.filters.find(item => item.id === this.filter.color_id);
            this.inCartByProduct()
        },

        inCartByProduct() {
            let item = this.products.find(item => item.id === this.product.id)
            if (item) {
                this.filter.quantity = item.quantity
            } else {
                this.filter.quantity = 1
            }
        },
    },

    computed: {
        maxavans() {
            let total = 0;
            total = total + parseFloat(this.product.price) * 1
            return total;
        },

        products() {
            return this.$store.getters.cartProducts;
        },
    }
}
</script>

<style lang="scss">
@media (max-width: 600px) {
    .product_info .price_credit {
        background-color: #FAFAFA;
        padding: 15px 5px;
        border-radius: 50px;
        font-size: 14px;
    }
}

.no_arrow {
    &:after {
        display: none;
    }
}

.input__quantity__me {
    .el-input-number__decrease, .el-input-number__increase {
        i {
            font-weight: bolder !important
        }
    }

    .el-input--medium .el-input__inner {
        font-weight: bolder !important
    }
}
</style>
