<template>
    <section class="upsells d-none d-md-block">
        <div class="container-xl">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex upsell_col"
                v-for="(item, i) in products_upsells">
                    <product-item :product="item.product" :lang="lang"/>
                </div>
                <div
                    class="col-12 col-sm-6 col-md-3 col-lg-3 d-flex align-items-center justify-content-end total_price_col">
                    <div class="total_price_equal">
                        <span class="badge black">Pret promotional</span>
                        <div class="price_wrapper d-flex justify-content-between align-items-top mt-3">
                            <div class="price d-flex flex-column">
                                <span class="main_price"><span>{{ upsells_prices.products_upsells_price }}</span> lei</span>
                                <span v-if="upsells_prices.products_upsells_discount_price > 0 && upsells_prices.products_upsells_price !== upsells_prices.products_upsells_discount_price" class="old_price">{{ upsells_prices.products_upsells_discount_price }} Lei</span>
                            </div>
                            <div v-if="upsells_prices.products_upsells_offer_procent > 0" class="percent">-{{upsells_prices.products_upsells_offer_procent}}%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "Upsells",
    props: {
        products_upsells: {
            type: Array,
            default: null
        },
        upsells_prices: {
            type: Array,
            default: null
        },
        lang: {
            type: String,
            default: 'ro'
        }
    }
}
</script>

<style scoped>

</style>
